$background: #f4f4f4;
$white: #ffffff;
$pink: #c65151;
$red: #db4545;
$black: #2b2b2b;
$gray: #5b5b5b;
$gray-light: #707070;
$brown: #7e776e;
$yellow-light: #eae6e0;
$gray-yellow: #dcd6cb;
$gray-extra-light: #e5e5e5;
