@font-face {
  font-family: 'Gilroy';
  src: url('~assets/fonts/Gilroy-Heavy.woff2') format('woff2'),
    url('~assets/fonts/Gilroy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('~assets/fonts/Lora-Medium.woff2') format('woff2'),
    url('~assets/fonts/Lora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('~assets/fonts/Lora-Bold.woff2') format('woff2'),
    url('~assets/fonts/Lora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('~assets/fonts/Lora-SemiBold.woff2') format('woff2'),
    url('~assets/fonts/Lora-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('~assets/fonts/Lora-Regular.woff2') format('woff2'),
    url('~assets/fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

