.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.fade-slide-up {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.15s, transform 0.2s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(0.8rem);
  }
}

.fade-in {
  &-enter-active,
  &-leave-active {
    transition: 0.5s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.fade-out {
  &-enter-active,
  &-leave-active {
    transition: opacity 10.3s;
  }

  &-enter,
  &-leave-to {
    opacity: 1;
  }
}

.slide-right {
  &-enter-active,
  &-leave-active {
    transition: transform 1s;
  }

  &-enter,
  &-leave-to {
    transform: translateX(100px);
    opacity: 0;
  }
}
