@import './colors';
@import './fonts';
@import './mixins';


$transition: .3s cubic-bezier(.29, .13, .27, .74);
$transition-normal: .25s ease-in-out;
$transition-fast: .2s cubic-bezier(.29, .13, .27, .74);
$box-shadow:  0 3px 6px rgba($color: #000000, $alpha: 0.05);
