<script>
export default {
  name: 'Close',

  props: {
    background: {
      type: String,
      default: '#fff',
    },

    prevRoute: {
      type: [String, Number],
      default: '/',
    },
  },

  data() {
    return {
      prev: '/',
      paths: [],
    }
  },

  methods: {
    handleClearCategory() {
      // this.$store.commit('SET_ACTIVE_CATEGORY', '')
      this.$store.commit('SET_SELECTED_LOCATION_INDEX', -1)
      this.$store.commit('SET_ACTIVE_LOCATION', null)
      this.$store.commit('SET_MAP_ZOOM_LEVEL', 14)
      this.paths.push(this.prevRoute)
      console.log('prev: ', this.prevRoute)
      // if (this.prevRoute === -1) this.$router.push(this.prevRoute)
      console.log('prevRoute: ', this.prevRoute)
      // this.$router.go(-1)
    },
  },
}
</script>
<template>
  <nuxt-link
    :to="localePath('/')"
    class="close-btn"
    :style="{ backgroundColor: background }"
    @click.native="handleClearCategory"
  >
    <img src="~/assets/icons/close.svg" alt="" />
  </nuxt-link>
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background: $white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s;
  flex-shrink: 0;
  img {
    height: 2rem;
    opacity: 0.5;
  }

  &:hover {
    opacity: 0.8;
  }
}
</style>
