<template>
  <div class="error">
    <h1 class="error-title">
      {{ $t('errorTitle') }}
    </h1>
    <p class="error-content">
      {{ $t('errorContent') }}
    </p>
    <NuxtLink class="error-button" to="/">
      {{ $t('errorButton') }}
    </NuxtLink>
  </div>
</template>
<i18n> 
{   
  "tr": {     
    "errorTitle": "Sayfa Bulunamadı!",
    "errorContent": "Erişmeye çalıştığınız sayfa mevcut değil veya kullanımdan kaldırılmış.",
    "errorButton": "Ana Sayfaya Dön"
  },   
  "en": {     
    "errorTitle": "Page Not Found!",
    "errorContent": "The page you are trying to access is either removed or not accessible.",
    "errorButton": "Back To Home"
   } 
} 
</i18n>

.
<style lang="scss" scoped>
@import '../assets/scss/colors';

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: $black;
  padding: 0 1.2rem;

  &-title {
    color: $red;
    font-size: 3.2rem;
  }

  &-content {
    margin-top: 1rem;
    font-size: 2rem;
  }

  &-button {
    margin-top: 2rem;
    background: $white;
    color: $black;
    border-radius: 3rem;
    padding: 1.5rem 3rem;
    display: inline-flex;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;

    &:hover {
      color: $red;
      background: transparentize($color: $red, $amount: 0.9);
    }
  }
}
</style>
