<script>
export default {
  name: 'FirstVisit',

  data() {
    return {
      hideThis: false,
    }
  },

  mounted() {
    setTimeout(() => {
      this.hide()
    }, 5000)

    window.addEventListener('click', this.hide)
  },

  destroyed() {
    window.removeEventListener('click', this.hide())
  },

  methods: {
    hide() {
      localStorage.setItem('first', 'false')
      this.hideThis = true
    },
  },
}
</script>

<template>
  <div
    class="first"
    :class="{ deactive: hideThis }"
    @click="hide"
    @mousewheel="hide"
    @dragstart="hide"
  >
    <div class="first-content">
      <div class="first-item first-item--map">
        <div class="first-item-img">
          <img src="~/assets/icons/icon_expand.svg" alt="" />
        </div>
        <div class="first-item-content">
          <h6 class="first-item__title">{{ $t('intro.map.title') }}</h6>
          <p class="first-item__text">{{ $t('intro.map.text') }}</p>
        </div>
      </div>
      <div class="first-item first-item--qr">
        <div class="first-item-img">
          <img src="~/assets/icons/icon_scan_qr.svg" alt="" />
        </div>
        <div class="first-item-content">
          <h6 class="first-item__title">{{ $t('intro.qr.title') }}</h6>
          <p class="first-item__text">{{ $t('intro.qr.text') }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';

.first {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.7);
  color: #fff;
  font-size: 3rem;
  width: 100vw;
  height: 100%;
  cursor: pointer;
  transition: $transition;
  &::after {
    content: '';
    background: linear-gradient(
      to top,
      rgba(black, 0.3),
      rgba(black, 0),
      rgba(black, 0.3)
    );
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  &.deactive {
    opacity: 0;
    pointer-events: none;
  }
  &-content {
    max-width: calc(100vw - 100px);
    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    @include bp(tablet) {
      max-width: calc(100vw - 4rem);
    }
    @include bp(tablet-small-under) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    @include bp(tablet-small-under) {
      &:first-child {
        margin-bottom: 5rem;
      }
    }
    &-img {
      background: rgba($color: #fff, $alpha: 0.2);
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-right: 2.7rem;
      width: 13rem;
      height: 13rem;
      flex-shrink: 0;
      @include bp(tablet) {
        width: 10rem;
        height: 10rem;
      }
      img {
        height: 50%;
      }
    }
    &-content {
      color: #fff;
    }
    &__title {
      font-weight: bold;
      font-size: 2.4rem;
      font-family: 'Lora', serif;
      opacity: 0.9;
      margin-bottom: 1rem;
    }
    &__text {
      font-size: 1.8rem;
      font-family: 'Lora', serif;
      opacity: 0.7;
    }
  }
}
</style>
