<script>
import { newTypes } from '../assets/data/location-types'
import { mapGetters } from 'vuex'
//import TheIcon from './TheIcon.vue'

export default {
  name: 'HomeCategoryFilter',

  components: {
    //TheIcon
  },

  data() {
    return {
      showList: false,
      itemsList: newTypes,
      selectedIndex: -1,
    }
  },

  computed: {
    ...mapGetters({
      locations: 'locations',
      activeCategory: 'activeCategory',
    }),
  },

  methods: {
    toggleList() {
      this.showList = !this.showList
    },

    hideList() {
      this.showList = false
    },

    chooseCategory(id, index) {
      this.$store.commit('SET_ACTIVE_CATEGORY', id)
      this.toggleList()
      this.selectedIndex = index
    },

    getLocationCount(id) {
      // id = 0
      // return id
      let item = this.$store.state.locationList.find((el) => el.id === id)
      let loc = item
      return loc.locations.length || 0
    },
  },
}
</script>

<template>
  <div v-click-outside="hideList" class="category-filter">
    <span
      class="category-filter-btn tooltip tooltip--left"
      :class="{ active: showList }"
      @click="toggleList"
    >
      <img
        class="category-filter-btn__icon"
        src="~/assets/icons/categories.svg"
        alt=""
      />
      <span class="tooltip__text">{{ $t('filter') }}</span>
    </span>
    <div class="category-filter-list" :class="{ visible: showList }">
      <!-- TODO: Seçilen Active Class'ı alacak -->
      <div
        v-for="(item, index) in itemsList"
        v-show="index !== 1"
        :key="`category${item.id}`"
        class="category-filter-list-item"
        :class="{
          active: index === selectedIndex || item.id === activeCategory,
        }"
        @click="chooseCategory(item.id, index)"
      >
        <!--<TheIcon
            class="category-filter-list-item__icon"
            :icon="item.id"
            :viewbox="item.viewbox"
          />-->
        <img
          class="category-filter-list-item__icon"
          :src="require(`~/assets/icons/red/category-${item.id}.svg`)"
          alt=""
        />
        <span class="category-filter-list-item__name">
          {{ item.name[$i18n.locale] }}
        </span>
        <!-- <span class="category-filter-list-item__count">{{
            getLocationCount(item.id)
          }}</span> -->
        <span v-if="item.id !== 'all'" class="category-filter-list-item__count">
          {{ getLocationCount(item.id) }}
        </span>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import '../assets/scss/variables';

.category-filter {
  // position: relative;
  border-radius: 1.2rem;

  &-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    transition: 0.3s;
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: $box-shadow;
    position: absolute;
    top: 5rem;
    @include bp(tablet) {
      width: 6.3rem;
      height: 6.3rem;
      border-radius: 0.8rem;
    }
    &__icon {
      display: inline-block;
      height: 2.2rem;
    }
  }

  &-list {
    transition: $transition;
    //margin-top: 4rem;
    border-radius: 1.2rem;
    overflow: hidden;
    background: #fff;
    width: 31rem;
    height: auto;
    opacity: 0;
    pointer-events: none;
    margin-top: 4rem;
    position: absolute;
    padding: 1rem 0;
    @include bp(tablet-small-under) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      margin-top: 0;
    }
    &.visible {
      opacity: 1;
      pointer-events: all;
    }

    &-item {
      cursor: pointer;
      background: #fff;
      padding: 1rem 2.7rem;
      // white-space: nowrap;
      display: inline-flex;
      align-items: center;
      width: 100%;
      transition: $transition;
      min-height: 5rem;

      &:hover {
        background: #f4f4f4;
        .category-filter-list-item {
          &__icon {
            filter: unset;
            opacity: 1;
          }
        }
      }
      &.active {
        background: $pink;
        .category-filter-list-item {
          &__name {
            color: #fff;
          }
          &__icon {
            filter: brightness(0) invert(1);
            opacity: 1;
          }
        }
      }

      &__icon {
        display: inline-block;
        // color: rgba($color: $black, $alpha: 0.8);
        width: 1.6rem;
        height: auto;
        flex: 0 0 1.6rem;
        filter: brightness(0);
        opacity: 0.8;
        transition: $transition;
      }

      &__name {
        margin-left: 2rem;
        font-size: 1.6rem;
        font-family: 'Lora', serif;
        font-weight: bold;
        color: rgba($color: $black, $alpha: 0.5);
        padding-right: 1rem;
      }

      &__count {
        display: inline-flex;
        width: 2.9rem;
        height: 2.9rem;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        background: #f4f4f4;
        font-weight: bold;
        color: rgba($color: $black, $alpha: 0.8);
        font-family: 'Lora', serif;
        border-radius: 2rem;
        flex-shrink: 0;
      }
    }
  }
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.3s;
}
.scale-enter,
.scale-leave-to {
  width: 20rem;
  height: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.2s;
}
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  // transform: translateY(30px);
}
</style>
