<script>
import TheIcon from './TheIcon.vue'
export default {
  name: 'IconButton',
  components: { TheIcon },
  props: {
    icon: {
      type: String,
      required: true,
    },

    viewbox: {
      type: String,
      required: true,
    },
  },
}
</script>
<template>
  <button class="icon-button">
    <TheIcon :icon="icon" :viewbox="viewbox" />
  </button>
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';

.icon-button {
  color: rgba($color: $black, $alpha: 0.6);
  background: rgba($color: $black, $alpha: 0.05);
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    color: $pink;
    background: rgba($color: $pink, $alpha: 0.1);
  }
}
</style>
