<script>
export default {
  name: 'Intro',

  data() {
    return {
      videoVisible: false,
    }
  },

  mounted() {
    console.log('first: ', localStorage.getItem('welcome'))
    if (
      localStorage.getItem('welcome') === null ||
      localStorage.getItem('welcome') !== 'true'
    ) {
      this.showVideo()
    }
  },

  methods: {
    showVideo() {
      this.videoVisible = true
    },

    hideVideo() {
      this.videoVisible = false
      localStorage.setItem('welcome', true)
    },
  },
}
</script>

<template>
  <transition name="fade" mode="out-in">
    <div v-if="videoVisible" class="modal-container">
      <div class="modal-overlay" @click.self="hideVideo">
        <span class="modal-close" @click="hideVideo">
          <img src="~/assets/icons/close.svg" alt="" />
        </span>
        <div class="modal">
          <iframe
            :src="$t('introVideoUrl')"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media;"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';

.modal {
  width: calc(100% - 2rem);
  max-width: 90rem;
  position: relative;
  overflow: hidden;

  &-container {
    position: relative;
  }

  &::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  &-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: 0.15s;
    z-index: 99999;

    &:hover {
      opacity: 1;
    }

    & > img {
      filter: brightness(0) invert(1);
      height: 2.5rem;
      width: auto;
    }
  }

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
