<script>
export default {
  name: 'LocationIcon',
  props: {
    type: {
      type: String,
      required: false,
      default: '',
    },
  },
}
</script>

<template>
  <div class="location-icon" :class="`is-${type}`">
    <img
      :src="require(`~/assets/icons/map-${type}.svg`)"
      class="location-icon__image"
    />
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';

.location-icon {
  border-radius: 0.4rem;
  background: $red;
  width: 3rem;
  height: 3rem;
  position: relative;
  transform: rotate(45deg);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__image {
    height: 3rem;
    width: auto;
    transform: rotate(-45deg);
  }

  &.is {
    &-default {
      background: darkslategray;
    }

    &-hospital {
      background: forestgreen;
    }
  }
}
</style>
