<script>
export default {
  name: 'Location',

  props: {
    title: {
      type: String,
      required: false,
      default: '',
    },

    text: {
      type: String,
      required: false,
      default: '',
    },

    slug: {
      type: String,
      required: false,
      default: '',
    },

    locationType: {
      type: String,
      required: false,
      default: '',
    },

    thumb: {
      type: String,
      required: true,
      default: '',
    },

    coords: {
      type: Object,
      required: false,
      default: () => {},
    },
  },

  methods: {
    handleLocation() {
      console.log('coords: ', this.coords)
      this.$store.commit('SET_ACTIVE_LOCATION', {
        coords: this.coords,
        type: this.locationType,
      })
    },
  },
}
</script>

<template>
  <nuxt-link
    :to="localePath(`${$t('urls.location')}${slug}`)"
    class="location"
    @click.native="handleLocation"
  >
    <div class="location-image">
      <img :src="thumb" :alt="text" />
      <div class="location-type">
        <img
          class="location-type__icon"
          :src="require(`~/assets/icons/map-${locationType}.svg`)"
          :alt="locationType"
        />
      </div>
    </div>
    <div class="location-body">
      <span class="location-body__title">{{ title }}</span>
      <span class="location-body__text">{{ text }}</span>
    </div>
  </nuxt-link>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';

.location {
  display: flex;
  align-items: center;
  padding: 1.4rem 2rem 2.4rem;
  border-radius: 28px;
  color: $black;
  text-decoration: none;
  transition: $transition;
  &:hover {
    background: $white;
  }

  &-image {
    position: relative;
    height: 6.4rem;
    width: 6.4rem;
    & > img {
      height: 6.4rem;
      width: inherit;
      border-radius: 3.2rem;
      object-fit: cover;
    }
  }

  &-type {
    // background: $red;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    // &__icon {
    //   width: auto;
    //   height: auto;
    //   max-height: 0.75rem;
    //   transform: rotate(-45deg);
    // }
  }

  &-body {
    display: flex;
    flex-direction: column;
    padding-left: 2.4rem;
    font-family: 'Lora', serif;

    &__title {
      font-size: 1.8rem;
      color: $black;
      margin-bottom: 5px;
      font-weight: 500;
    }

    &__text {
      opacity: 0.6;
      font-size: 1.6rem;
      color: $black;
    }
  }
}
</style>
