<script>
import Location from './Location.vue'
export default {
  name: 'LocationsList',

  components: {
    Location,
  },

  props: {
    name: {
      type: String,
      required: false,
      default: '',
    },

    items: {
      type: Array,
      required: false,
      default: () => [],
    },

    listType: {
      type: String,
      required: true,
      default: 'all',
    },
  },

  computed: {
    count() {
      return this.items.length
    },
  },

  methods: {
    selectAndShow(type) {
      this.$store.commit('SET_ACTIVE_CATEGORY', type)
      this.$router.push('/')
    },
  },
}
</script>

<template>
  <div class="locations-list">
    <header class="locations-list-header">
      <h2 class="locations-list-header__title">{{ name }}</h2>
      <span class="locations-list-header__count">{{ count }}</span>
      <span
        class="locations-list-header__icon"
        @click="selectAndShow(listType)"
      >
        <img src="~/assets/icons/geolocator-red.svg" alt="" />
        <span>{{ $t('showOnMap') }}</span>
      </span>
    </header>
    <main class="locations-list-content">
      <nuxt-link
        v-for="(location, index) in items"
        :key="`location${index}`"
        :to="localePath(`/lokasyon/${location.slug}`)"
      >
        <Location
          :location-type="location.type"
          :title="location.name[$i18n.locale]"
          :text="location.summary[$i18n.locale]"
          :slug="location.slug"
          :coords="location.coords"
          :thumb="`/images/thumb/${location.imageSmall}`"
        />
      </nuxt-link>
    </main>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';

.locations-list {
  position: relative;
  margin-bottom: 5rem;
  @include bp(tablet-small-under) {
    margin-bottom: 3rem;
  }
  &-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.25rem;
    font-family: 'Lora', serif;
    margin-bottom: 2rem;
    &__icon {
      width: 4.2rem;
      height: 4.2rem;
      display: grid;
      place-items: center;
      background: #fff;
      border-radius: 50%;
      flex-shrink: 0;
      margin-left: 1rem;
      font-size: 1.8rem;
      cursor: pointer;
      transition: $transition;
      position: relative;
      &:hover {
        background: $pink;
        img {
          filter: brightness(0) invert(1);
        }
        span {
          opacity: 1;
        }
      }
      span {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        padding: 1rem;
        font-size: 1.3rem;
        color: rgba($black, 0.3);
        transition: $transition;
        top: calc(100% + 2rem);
        background: #fff;
        box-shadow: $box-shadow;
        border-radius: 6px;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        &::before {
          content: '';
          width: 0;
          height: 0;
          border: 7px solid transparent;
          position: absolute;
          top: -14px;
          border-bottom-color: #fff;
          transform: translateX(-50%);
          left: 50%;
        }
      }
      img {
        width: 1em;
        transition: $transition;
      }
    }
    &__title {
      margin: 0;
      font-family: 'Lora', serif;
      font-size: 2.2rem;
      color: $black;
    }

    &__count {
      font-family: 'Lora', serif;
      font-weight: 900;
      line-height: 1;
      background: $white;
      color: $red;
      border-radius: 2rem;
      font-weight: 900;
      margin-left: 3rem;
      width: 4.2rem;
      height: 4.2rem;
      display: grid;
      place-items: center;
      font-size: 1.8rem;
      flex-shrink: 0;
    }
  }

  &-content {
    & > a {
      text-decoration: none;
    }
  }
}
</style>
