<script>
export default {
  name: 'Logo',
}
</script>

<template>
  <nuxt-link class="logo" :to="localePath('/')">
    <img
      class="logo__img"
      :src="require(`~/assets/icons/zeytinburnu-${$i18n.locale}.svg`)"
    />
    <span class="logo__divider"></span>
    <img
      class="logo__altimg"
      :src="require(`~/assets/icons/logo-${$i18n.locale}.svg`)"
    />
  </nuxt-link>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';

.logo {
  background: #fff;
  text-decoration: none;
  padding: 1.6rem 2.4rem;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.05);
  margin-right: 2rem;
  width: 24rem;
  font-size: 0;

  @include bp(desktop) {
    margin-right: 1rem;
  }

  @include bp(tablet-big) {
    width: 21rem;
    padding: 1.3rem 2rem;
    z-index: 10;
    position: relative;
    margin-right: 1rem;
  }

  @include bp(tablet) {
    width: 19rem;
  }

  @include bp(tablet-small-under) {
    width: 19rem;
  }

  &__img {
    display: inline-block;
    height: 6.2rem;
    object-fit: contain;

    @include bp(tablet-big) {
      height: 5.5rem;
    }

    @include bp(tablet) {
      height: 5rem;
    }
  }
  &__divider {
    width: 1px;
    height: 4rem;
    margin: 1.1rem 2rem;
    background: rgba($color: $gray-light, $alpha: 0.2);
    display: inline-block;
    @include bp(desktop) {
      margin: 1.1rem 2rem;
    }
    @include bp(tablet) {
      height: 3rem;
    }
  }
  &__altimg {
    display: inline-block;
    height: 6.2rem;

    @include bp(tablet-big) {
      height: 5.5rem;
    }
    @include bp(tablet) {
      height: 4.5rem;
    }
  }
}
</style>
