<script>
export default {
  name: 'Overlay',
}
</script>

<template>
  <div class="overlay" />
</template>

<style lang="scss" scoped>
@import '../assets/scss/colors';

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  cursor: pointer;
}
</style>
