<script>
export default {
  name: 'Sharer',

  data() {
    return {
      shareOn: {
        facebook: 'https://www.facebook.com/sharer/sharer.php?u=',
        twitter: 'https://twitter.com/intent/tweet?url=',
        instagram: '',
      },
    }
  },
}
</script>

<template>
  <div class="sharer"></div>
</template>

<style lang="scss" scoped></style>
