<script>
export default {
  name: 'TheFilter',

  props: {
    items: {
      type: Array,
      default: () => [],
      required: true,
    },

    showIcons: {
      type: Boolean,
      default: false,
      required: false,
    },

    name: {
      type: String,
      default: () => this.$t('select'),
      required: false,
    },
  },

  data() {
    return {
      listVisible: false,
      selected: this.items[0].name[this.$i18n.locale],
      activeIndex: 0,
    }
  },

  methods: {
    toggleList() {
      this.listVisible = !this.listVisible
    },

    hideList() {
      this.listVisible = false
    },

    selectItem(item, index) {
      this.$emit('select-item', item)
      this.selected = item.name[this.$i18n.locale]
      this.hideList()
      this.activeIndex = index
    },
  },
}
</script>

<template>
  <div v-click-outside="hideList" class="category-filter">
    <div class="category-filter__title">{{ name }}</div>
    <div class="category-filter__btn" @click="toggleList">
      <span>{{ selected }}</span>
    </div>
    <!-- <div class="category-filter-list" :class="{ visible: showList }"> -->
    <transition name="fade-slide-up" mode="out-in">
      <template v-if="listVisible">
        <div class="category-filter-menu scroll-hidden">
          <div
            v-for="(item, index) in items"
            :key="`item${index}`"
            class="category-filter-menu__option"
            :class="{ active: activeIndex === index }"
            @click="selectItem(item, index)"
          >
            {{ item.name[$i18n.locale] }}
          </div>
        </div>
      </template>
    </transition>
    <!-- </div> -->
    <!-- <select class="hidden" @change="getCategory">
      <option :value="'all'">{{ $t('allCategories') }}</option>
      <option
        v-for="type in locationTypes"
        :key="type.id"
        :value="type.id"
        :v-model="type.id"
      >
        {{ type.name[$i18n.locale] }}
      </option>
    </select> -->
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';
@import '../assets/scss/colors';
@import '../assets/scss/transitions';

.category-filter {
  position: relative;
  // border-radius: 12px;

  &__title {
    font-size: 1.5rem;
    color: rgba($black, 0.55);
    margin-bottom: 0.7rem;
    font-family: 'Lora', serif;
  }

  // &-btn {
  //   cursor: pointer;
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: flex-start;
  //   white-space: nowrap;
  //   width: 60px;
  //   height: 60px;
  //   transition: 0.3s;
  //   overflow: hidden;
  //   background: #fff;
  //   border-radius: 12px;

  //   &__icon {
  //     display: inline-block;
  //     padding: 1.25rem;
  //   }

  //   &.active {
  //     width: 15rem;
  //   }
  // }

  &__btn {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: $black;
    position: relative;
    padding-right: 3rem;
    font-family: 'Lora', serif;
    font-weight: bold;
    cursor: pointer;

    @include bp(mobile) {
      max-width: 20rem;
    }

    & > span {
      min-width: 0;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: $black;
      bottom: 3px;
      right: 0;
      position: absolute;
    }

    img {
      font-size: 1.4rem;
      margin-right: 1.2rem;
      height: 1em;
    }
  }

  &-list {
    width: 60px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: -12px;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    padding-bottom: 0.5rem;
    background: #fff;

    &.visible {
      opacity: 1;
      visibility: visible;
      width: 15rem;
      height: auto;
    }

    &-item {
      cursor: pointer;
      background: #fff;
      padding: 1rem 1.25rem;
      white-space: nowrap;
      display: inline-flex;
      align-items: center;
      width: 100%;

      &:hover {
        transition: 0.15s;
        background: $yellow-light;
      }

      &__icon {
        display: inline-block;
        padding-right: 1.25rem;
      }

      &__count {
        display: inline-flex;
        margin-left: auto;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }
  }

  &-menu {
    position: absolute;
    top: calc(100% + 2rem);
    left: 0;
    width: 230px;
    min-width: max-content;
    background: #fff;
    z-index: 21;
    box-shadow: 0 0px 20px -4px rgba($black, 0.1);
    // overflow-y: auto;
    // overflow-y: overlay;
    // opacity: 0;
    // transition: $transition;
    border-radius: 0.8rem;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border: 7px solid transparent;
      position: absolute;
      top: -14px;
      left: 50%;
      border-bottom-color: #fff;
      transform: translateX(-50%);
    }

    &--small {
      width: 160px;
    }

    &__option {
      padding: 1.6rem 1.4rem;
      font-size: 1.6rem;
      transition: $transition;
      font-family: 'Lora', serif;
      cursor: pointer;
      &:first-child {
        border-radius: 0.8rem 0.8rem 0 0;
      }
      &:last-child {
        border-radius: 0 0 0.8rem 0.8rem;
      }
      &:not(.active):hover {
        color: $pink;
      }

      &.active {
        color: #fff;
        background: $pink;
      }

      & + & {
        border-top: 1px solid #eee;
      }
    }
  }
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.3s;
}
.scale-enter,
.scale-leave-to {
  width: 20rem;
  height: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.2s;
}
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  // transform: translateY(30px);
}
</style>
