<script>
import { copyLink } from '../helpers/copy-link'
import Logo from './Logo.vue'

export default {
  name: 'TheHeader',
  components: { Logo },

  data() {
    return {
      menuVisible: false,
      mobileMenuVisible: false,
      copyText: this.$t('copyText.before'),
      otherLocale: 'en',
    }
  },

  computed: {
    availableLangs() {
      return this.$i18n.locales
    },
  },

  created() {
    this.otherLocale = process.env.OTHER_LOCALE
  },

  methods: {
    switchLang(e) {
      console.log('code: ', e.target.value)
      console.log('i18n : ', this.$i18n)
      this.$i18n.setLocale(e.target.value)
    },

    closeMenu() {
      this.menuVisible = false
    },

    toggleMenu() {
      this.menuVisible = !this.menuVisible
    },

    toggleMobileMenu() {
      this.mobileMenuVisible = !this.mobileMenuVisible
    },

    closeMobileMenu() {
      this.mobileMenuVisible = false
    },

    copy() {
      let text = 'www.kulturvadisi.com'
      let lang = this.$i18n.locale === 'tr' ? '' : `/${this.$i18n.locale}`
      copyLink(`${text}${lang}`)
      this.copyText = this.$t('copyText.after')
      setTimeout(() => {
        this.copyText = this.$t('copyText.before')
      }, 3000)
    },
  },
}
</script>

<template>
  <header class="header">
    <Logo />
    <div
      class="header-menu-open"
      :class="{ active: mobileMenuVisible }"
      @click="toggleMobileMenu"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="header-nav" :class="{ active: mobileMenuVisible }">
      <div class="divider hidden-desktop"></div>
      <nuxt-link
        class="header-nav-item"
        :to="localePath($t('urls.locations'))"
        @click.native="closeMobileMenu"
      >
        <img class="header-nav-item__icon" src="~/assets/icons/location.png" />
        <div class="header-nav-item-content">
          <span class="header-nav-item__title">
            {{ $t('locations') }}
          </span>
          <span class="header-nav-item__text hidden-desktop">
            {{ $t('shortDesc.locations') }}
          </span>
        </div>
      </nuxt-link>

      <nuxt-link
        class="header-nav-item"
        :to="localePath($t('urls.history'))"
        @click.native="closeMobileMenu"
      >
        <img class="header-nav-item__icon" src="~/assets/icons/history.svg" />
        <div class="header-nav-item-content">
          <span class="header-nav-item__title">
            {{ $t('zeytinburnuHistory') }}
          </span>
          <span class="header-nav-item__text hidden-desktop">
            {{ $t('shortDesc.history') }}
          </span>
        </div>
      </nuxt-link>

      <nuxt-link
        class="header-nav-item"
        :to="localePath($t('urls.valley'))"
        @click.native="closeMobileMenu"
      >
        <img class="header-nav-item__icon" src="~/assets/icons/route.svg" />
        <div class="header-nav-item-content">
          <span class="header-nav-item__title">
            {{ $t('culturePath') }}
          </span>
          <span class="header-nav-item__text hidden-desktop">
            {{ $t('shortDesc.culture') }}
          </span>
        </div>
      </nuxt-link>
      <nuxt-link class="header-nav-search" :to="localePath($t('urls.search'))">
        <img class="header-nav-search__icon" src="~/assets/icons/search.png" />
        <input
          class="header-nav-search__input"
          :placeholder="$t('searchPlaceholder')"
        />
      </nuxt-link>
      <div class="header-lang">
        <a
          :href="switchLocalePath(otherLocale)"
          class="header-lang-item lang-item"
        >
          <div class="lang-item-img">
            <img :src="require(`~/assets/images/${otherLocale}.svg`)" />
          </div>
          <span class="lang-item__code">{{ otherLocale }}</span>
        </a>

        <div class="header-lang-content">
          <a
            :href="switchLocalePath('tr')"
            class="lang-item"
            :class="{ active: $i18n.locale === 'tr' }"
            ><div class="lang-item-img">
              <img src="~/assets/images/tr.svg" />
            </div>
            <span class="lang-item__code">TR</span>
          </a>
          <a
            :href="switchLocalePath('en')"
            class="lang-item"
            :class="{ active: $i18n.locale === 'en' }"
            ><div class="lang-item-img">
              <img src="~/assets/images/en.svg" />
            </div>
            <span class="lang-item__code">EN</span>
          </a>
        </div>
      </div>

      <div class="header-mobile-footer">
        <div class="header-mobile-social header-mobile hidden-desktop">
          <a
            class="header-mobile-social-item tooltip tooltip--white"
            :href="`https://www.facebook.com/sharer.php?u=${$t('siteUrl')}`"
            target="_blank"
          >
            <span class="tooltip__text">{{ $t('shareOnFacebook') }}</span>
            <IconButton :icon="'facebook'" :viewbox="'0 0 500 500'" />
          </a>
          <a
            class="header-mobile-social-item tooltip tooltip--white"
            :href="`https://twitter.com/intent/tweet?url=${$t(
              'siteUrl'
            )}&text=${$t('homeTwitterText')}&hashtags=zeytinburnu,${$t(
              'homeTwitterUrl'
            )}`"
            target="_blank"
          >
            <span class="tooltip__text">{{ $t('shareOnTwitter') }}</span>
            <IconButton :icon="'twitter'" :viewbox="'0 0 500 500'" />
          </a>
          <span
            class="header-mobile-social-item tooltip tooltip--white"
            @click="copy"
          >
            <span class="tooltip__text">{{ copyText }}</span>
            <IconButton :icon="'link'" :viewbox="'0 0 500 500'" />
          </span>
        </div>
        <div class="header-mobile-copyright header-mobile hidden-desktop">
          <div><b>© 2021&nbsp;</b>{{ $t('zeytinburnuMun') }}</div>
          <div>{{ $t('allRights') }}</div>
        </div>
      </div>
    </nav>
  </header>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';
@import '../assets/scss/transitions';

.header {
  display: flex;
  align-items: flex-start;
  padding: 1.25rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 10;

  @include bp(tablet) {
    justify-content: space-between;
    &-mobile {
      display: flex;
      &-social {
        justify-content: center;
        margin-bottom: 4rem;
        .header-mobile-social-item + .header-mobile-social-item {
          margin-left: 2rem;
        }
        &-item {
          .icon-button {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            transition: $transition;

            &::v-deep .the-icon {
              height: 2.4rem;
              width: auto;
            }

            &:hover {
              background: rgba($color: $pink, $alpha: 0.1);
            }
          }
        }
      }
      &-copyright {
        width: 100%;
        font-family: 'Lora', serif;
        font-size: 1.4rem;
        line-height: 1.7em;
        color: rgba($color: $black, $alpha: 0.4);
        text-align: center;
        margin-bottom: 2rem;
        display: block;
      }

      &-footer {
        padding-top: 2rem;
      }
    }
    .divider {
      display: block;
      width: calc(100% + 6rem);
      margin-left: -2rem;
      background: rgba($color: $gray-light, $alpha: 0.1);
      height: 1px;
      flex-shrink: 0;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  &-brand {
    background: #fff;
    margin-right: auto;
    text-decoration: none;
    color: $pink;
    font-size: 1.5em;
    font-weight: 700;
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    height: 5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    box-shadow: $box-shadow;

    &__img {
      display: inline-block;
      padding-bottom: 0.25rem;
    }

    &__text {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px solid rgba($color: $gray-light, $alpha: 0.2);
      font-size: 19px;
      line-height: 23px;
      text-transform: uppercase;
      font-family: 'Gilroy', serif;
      font-weight: 900;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 2.75rem;

      & > span {
        &:last-child {
          color: $black;
          letter-spacing: 0.02em;
        }
      }
    }
  }
  &-menu-open {
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 6.3rem;
    width: 6.3rem;
    cursor: pointer;
    transition: $transition;
    z-index: 3;
    display: none;
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 0.8rem;
    z-index: 10;
    @include bp(tablet) {
      display: flex;
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: translateY(8px) rotate(44deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-46deg);
        }
      }
    }

    span {
      width: 24px;
      height: 3px;
      background: $gray;
      display: block;
      border-radius: 3px;
      transition: $transition;

      &:nth-child(2) {
        transition: 0.15s;
      }
    }

    span + span {
      margin-top: 5px;
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.05);
    height: 8rem;
    border-radius: 1rem;
    margin-left: auto;
    @include bp(tablet) {
      opacity: 0;
      background: #f4f4f4;
      width: 100%;
      min-height: 100vh;
      position: fixed;
      transform: translateY(50px) translateZ(0) scale(1, 1);
      transition: $transition;
      z-index: 4;
      left: 0;
      top: 0;
      display: flex;
      overflow-y: auto;
      // max-height: 100vh;
      padding: 100px 2rem 2rem 2rem;
      border-radius: 0;
      flex-direction: column;
      pointer-events: none;

      &.active {
        transform: translateY(0) translateZ(0) scale(1, 1);
        opacity: 1;
        pointer-events: all;
        .header-lang-content {
          // padding-top: 2rem;
          pointer-events: all;
        }
      }
    }
    &-item {
      height: 100%;
      text-decoration: none;
      transition: $transition;
      display: inline-flex;
      align-items: center;
      padding: 0 2.5rem;
      position: relative;
      flex-shrink: 0;
      @include bp(laptop-l) {
        font-size: 1.6rem;
      }
      @include bp(desktop) {
        padding: 0 2rem;
      }
      @include bp(tablet) {
        height: 8rem;
        display: flex;
        width: 100%;
        padding: 0 1rem;
        flex-shrink: 0;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 4rem;
        }
      }
      &:hover {
        .header {
          &-nav {
            &-item {
              &__title {
                color: $pink;
                transition: $transition;
              }
            }
          }
        }
      }
      &__icon {
        display: inline-block;
        height: 2.4rem;
        margin-right: 1.8rem;
        @include bp(laptop-l) {
          height: 2rem;
        }
        @include bp(tablet) {
          height: 3.3rem;
          min-width: 4rem;
          margin-right: 2.2rem;
          object-fit: contain;
        }
      }

      &__title {
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 700;
        color: $black;
        letter-spacing: 0.04px;
        font-family: 'Lora', serif;

        @include bp(tablet) {
          font-size: 2rem;
        }
      }
      &__text {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba($color: $black, $alpha: 0.45);
        letter-spacing: -0.16px;
        font-family: 'Lora', serif;
        margin-top: 5px;
        @include bp(tablet) {
          display: block;
        }
      }

      & + & {
        border-left: 1px solid rgba($color: $gray-light, $alpha: 0.2);
        @include bp(tablet) {
          border: 0;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &-search {
      position: relative;
      height: 6rem;
      display: inline-flex;
      text-decoration: none;
      font-family: inherit;
      width: 33rem;
      flex-shrink: 1;

      @include bp(tablet-big) {
        width: 26rem;
      }

      @include bp(tablet) {
        order: -1;
        width: 100%;
        height: 6.4rem;
        flex-shrink: 0;
      }
      &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 2.1rem;
        width: auto;
        left: 2.4rem;
        pointer-events: none;
      }

      &__input {
        height: 100%;
        display: inline-block;
        border-radius: 1rem;
        border: 1px solid rgba($color: #e8e8e8, $alpha: 0.6);
        background: rgba($color: #f4f4f4, $alpha: 0.6);
        width: 100%;
        padding: 0 1.2rem 0 6rem;
        font-family: 'Lora', serif;
        font-size: 1.8rem;

        @include bp(tablet) {
          background: #fff;
          border-radius: 1.6rem;
          font-family: 'Lora', serif;
          box-shadow: none;
          -webkit-appearance: none;
        }
        &::placeholder {
          color: rgba($color: $black, $alpha: 0.6);
          font-size: 1.8rem;
          @include bp(tablet) {
            font-weight: bold;
          }
        }
        &:focus {
          border: 1px solid rgba($color: #e8e8e8, $alpha: 1);
        }
      }
    }
  }

  &-lang {
    position: relative;
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    @include bp(tablet) {
      width: 100%;
      padding: 0;
      height: auto;
      padding-top: 2rem;
      padding-bottom: 3rem;
    }
    &.active {
      .header-lang-content {
        transform: translateY(0) translateZ(0) translateX(-50%) scale(1, 1);
        opacity: 1;
        pointer-events: all;
      }
    }
    & > &-item {
      height: 100%;
      padding: 0 3rem;
      text-decoration: none;
      @include bp(tablet) {
        display: none;
      }
    }
    &-content {
      background: #fff;
      border-radius: 6px;
      padding: 1.5rem;
      top: calc(100% + 10px);
      position: absolute;
      width: 100%;
      box-shadow: 0 0 10px rgba($black, 0.1);
      transform: translateY(20px) translateX(-50%);
      left: 50%;
      transition: $transition;
      opacity: 0;
      z-index: 21;
      pointer-events: none;

      @include bp(tablet) {
        position: static;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        background: transparent;
        border-radius: 0;
        transform: none;
        box-shadow: none;
        padding: 0;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        .lang-item + .lang-item {
          margin-left: 10px;
        }
      }
      .lang-item {
        display: flex;
        align-items: center;
        padding: 1.2rem;
        justify-content: flex-start;
        border-radius: 6px;
        text-decoration: none;
        @include bp(tablet) {
          padding: 2rem 0;
          flex: 1;
          border: 1px solid rgba($color: $black, $alpha: 0.1);
          justify-content: center;
        }
        &:hover {
          background: rgba($color: $black, $alpha: 0.1);
        }

        &.active {
          background: $red;
          border: none;
          @include bp(tablet) {
            background: rgba($color: $pink, $alpha: 1);
          }
          .lang-item {
            &__code {
              color: #fff;
            }
          }
        }

        &-img {
          flex-shrink: 0;
        }
      }
    }
  }
}

.lang-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;

  &:hover,
  &.active {
    .header-lang {
      &-item {
        &::after {
          border-top-color: $black;
        }

        &__code {
          opacity: 1;
        }
      }
    }
  }

  &-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.2rem;

    img {
      object-fit: cover;
      height: inherit;
      width: 100%;
    }
  }

  &__code {
    text-transform: uppercase;
    color: $black;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1em;
    transition: $transition-normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Lora', Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.menu {
  position: absolute;
  top: calc(100% + 2rem);
  left: 0rem;
  background: #fff;
  z-index: 20;
  padding: 1rem 2.5rem;
  border-radius: 1rem;

  &::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 1rem;
    height: 1rem;
    background: #fff;
  }

  & > a {
    padding: 1rem 0;
    text-decoration: none;
  }
}
</style>
