<script>
export default {
  name: 'TheIcon',
  props: {
    viewbox: {
      type: String,
      required: true,
    },

    icon: {
      type: String,
      required: true,
    },
  },
}
</script>
<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    :viewBox="viewbox"
    class="the-icon"
  >
    <defs></defs>
    <template v-if="icon === 'close'">
      <g transform="translate(-678.728 0.527)">
        <path
          class="a"
          d="M0,0V27.809"
          transform="translate(680.849 1.595) rotate(-45)"
        />
        <path
          class="a"
          d="M0,0V27.809"
          transform="translate(680.849 21.258) rotate(-135)"
        />
      </g>
    </template>
    <template v-if="icon === 'facebook'">
      <path
        class="st0"
        d="M375.5,171.9h-93.7v-62.5c0-17.2,14-31.2,31.2-31.2h31.2V0h-62.5C230,0,188,42,188,93.7v78.1h-62.5V250H188v250
	h93.7V250h62.5L375.5,171.9z"
      />
    </template>
    <template v-if="icon === 'twitter'">
      <path
        class="st0"
        d="M500,95.6c-18.8,8.2-38.6,13.6-58.9,16.2c21.4-12.7,37.4-32.8,45-56.5c-20.1,11.9-42,20.3-64.9,24.8
	c-38.6-41.2-103.3-43.4-144.6-4.8c-20.7,19.3-32.4,46.4-32.4,74.7c-0.1,7.8,0.7,15.7,2.4,23.3c-82.3-4-159-42.9-210.9-107
	C8.4,113,22.2,172.9,67.2,203c-16.2-0.4-32-4.8-46.2-12.6v1.1c0,48.7,34.3,90.7,82,100.6c-8.7,2.3-17.8,3.5-26.8,3.4
	c-6.5,0.1-13-0.4-19.4-1.7c13.5,41.6,51.8,70.2,95.6,71.3c-36.2,28.3-80.9,43.7-126.8,43.6c-8.2,0-16.4-0.5-24.5-1.5
	c46.8,30.1,101.3,46.1,156.9,45.9c188.3,0,291.2-155.9,291.2-291.1c0-4.5-0.2-8.9-0.4-13.2C468.9,134.3,486.3,116.3,500,95.6z"
      />
    </template>
    <template v-if="icon === 'instagram'">
      <g transform="translate(0 0)" class="st0">
        <path
          class="st1"
          d="M498.5,147.1c-0.4-20.7-4.3-41.2-11.6-60.6c-6.3-16.6-16.1-31.7-28.8-44.2c-12.5-12.7-27.5-22.5-44.2-28.8
		C394.6,6.3,374.1,2.4,353.4,2c-26.6-1.2-35.1-1.5-102.9-1.5S174.2,0.8,147.6,2c-20.7,0.4-41.2,4.3-60.6,11.6
		c-16.6,6.3-31.7,16.1-44.2,28.8C30.2,54.8,20.4,69.9,14.1,86.6C6.8,106,2.9,126.4,2.5,147.1C1.3,173.7,1,182.2,1,250
		s0.3,76.3,1.5,102.9c0.4,20.7,4.3,41.2,11.6,60.6c6.3,16.6,16.1,31.7,28.8,44.2c12.5,12.7,27.5,22.5,44.2,28.8
		c19.4,7.3,39.9,11.2,60.6,11.6c26.6,1.2,35.1,1.5,102.9,1.5s76.3-0.3,102.9-1.5c20.7-0.4,41.2-4.3,60.6-11.6c33.5-13,60-39.5,73-73
		c7.3-19.4,11.2-39.9,11.6-60.6c1.2-26.6,1.5-35.1,1.5-102.9S499.7,173.7,498.5,147.1z M453.6,350.8c-0.2,15.8-3.1,31.5-8.6,46.3
		c-8.4,21.8-25.6,39-47.3,47.3c-14.8,5.5-30.5,8.4-46.3,8.6c-26.3,1.2-34.2,1.5-100.8,1.5s-74.5-0.3-100.8-1.5
		c-15.8-0.2-31.5-3.1-46.3-8.6c-10.8-4-20.6-10.4-28.7-18.7c-8.3-8-14.7-17.8-18.7-28.7c-5.5-14.8-8.4-30.5-8.6-46.3
		C46.2,324.5,46,316.6,46,250s0.3-74.5,1.5-100.8c0.2-15.8,3.1-31.5,8.6-46.3C60,92,66.4,82.2,74.7,74.2c8-8.3,17.8-14.7,28.7-18.7
		c14.8-5.5,30.5-8.4,46.3-8.6c26.3-1.2,34.2-1.5,100.8-1.5l0,0c66.6,0,74.5,0.3,100.8,1.5c15.8,0.2,31.5,3.1,46.3,8.6
		c10.8,4,20.6,10.4,28.7,18.7c8.3,8,14.7,17.8,18.7,28.7c5.5,14.8,8.4,30.5,8.6,46.3c1.2,26.3,1.5,34.2,1.5,100.8
		S454.8,324.5,453.6,350.8z"
        />
        <path
          class="st1"
          d="M250.5,135.2c-63.4,0-114.8,51.4-114.8,114.8c0,63.4,51.4,114.8,114.8,114.8c63.4,0,114.8-51.4,114.8-114.8
		C365.2,186.6,313.9,135.2,250.5,135.2L250.5,135.2z M250.5,324.5c-41.1,0-74.5-33.4-74.5-74.5c0-41.1,33.4-74.5,74.5-74.5
		c41.1,0,74.5,33.4,74.5,74.5C325,291.1,291.6,324.5,250.5,324.5L250.5,324.5z"
        />
        <path
          class="st1"
          d="M414.9,118.8c0,18.4-14.9,33.2-33.2,33.2c-18.4,0-33.2-14.9-33.2-33.2c0-18.4,14.9-33.2,33.2-33.2l0,0
		C400,85.6,414.9,100.5,414.9,118.8z"
        />
      </g>
    </template>
    <template v-if="icon === 'culturual'">
      <path
        d="M447.6,410.7v-244H52.4v244h89.7V199.1h63V410.7h89.7V199.1h63V410.7Z"
      />
      <path
        d="M485.7,166.6c15.1,0,20.4-19.5,7.3-26.8L257.3,10a15,15,0,0,0-14.5,0L7,139.9c-13.1,7.2-7.8,26.7,7.3,26.7Z"
      />
      <path
        d="M456.9,439.7H51.6a14.1,14.1,0,0,0-11.1,5.4L12,481.1a10.7,10.7,0,0,0,10.7,10.7H485.8a10.7,10.7,0,0,0,10.7-10.7l-27.3-35.4A15.5,15.5,0,0,0,456.9,439.7Z"
      />
    </template>
    <template v-if="icon === 'museum'">
      <g transform="translate(0)">
        <path
          class="st0"
          d="M100.3,371.8c-8.6,0-15.5,7-15.5,15.5v13.5c0,4.1,1.6,8.1,4.5,11l45.2,45.2v25.7c0,8.6,7,15.5,15.5,15.5h198.9
		c8.6,0,15.5-7,15.5-15.5V457l45.2-45.2c2.9-2.9,4.5-6.9,4.5-11v-13.5c0-8.6-7-15.5-15.5-15.5H100.3z"
        />
        <path
          class="st0"
          d="M430.1,285.8c-8.9-29.5-32.1-52.5-61.6-61.2c-14.3-4.9-29.3-7.7-44.4-8.1h-21l-4.6-18.4
		c20.7-15.4,32.9-39.7,32.9-65.5V108l-1-38.2c-6.7-44.7-48.3-75.5-93-68.9C213,4.5,191.5,19,179,40.2c-6.3,9.1-10,19.8-10.6,30.8
		c-1.4,20.5-1.6,41-0.7,61.5c0,25.8,12.2,50.1,32.9,65.5l-4.6,18.4h-21c-15.1,0.4-30.1,3.2-44.4,8.1c-29.5,8.7-52.7,31.7-61.6,61.2
		c-2.4,8.2,2.4,16.8,10.7,19.2c1.4,0.4,2.8,0.6,4.3,0.6l0,0c11.8-0.5,23.5,2.5,33.6,8.6c8.7,6.3,14.4,15.9,15.8,26.6h232.5
		c1.4-10.6,7.1-20.3,15.8-26.6c10.1-6.1,21.8-9.1,33.6-8.6c8.6-0.1,15.5-7.1,15.4-15.7C430.7,288.5,430.5,287.1,430.1,285.8z"
        />
      </g>
    </template>
    <template v-if="icon === 'food'">
      <g transform="translate(0 0)">
        <path
          class="st0"
          d="M277.3,116.5v-7.9c0-15.1-12.2-27.3-27.3-27.3c-15.1,0-27.3,12.2-27.3,27.3c0,0,0,0,0,0v7.9
		c-105.2,13.7-184,103.3-183.9,209.4h423.1C461.4,219.7,382.6,130.3,277.3,116.5z"
        />
        <path
          class="st0"
          d="M480.1,361.1H19.9C9.3,361,0.6,369.5,0.5,380.1c0,0.2,0,0.3,0,0.5v18.8c-0.1,10.6,8.4,19.3,18.9,19.4
		c0.2,0,0.3,0,0.5,0h460.2c10.6,0.1,19.3-8.4,19.4-18.9c0-0.2,0-0.3,0-0.5v-18.8C499.4,369.8,490.8,361.2,480.1,361.1z"
        />
      </g>
    </template>
    <template v-if="icon === 'historical'">
      <g transform="translate(0 0)">
        <path
          class="st0"
          d="M228.3,37h-27.8v103.1h-100V37H0.5v426h500.1V37h-100v103.1h-100V37H228.3z"
        />
      </g>
    </template>
    <template v-if="icon === 'monument'">
      <g transform="translate(0 0.5)">
        <path
          class="st0"
          d="M61.3,411.6l-31.5,58.6l0,0v29.3h441.5v-29.3l0,0l-31.5-58.6H61.3z"
        />
        <path
          class="st0"
          d="M427,382.4H73.5v-206c0-1.4,0-2.6,0-4.1c0-0.2,0-0.4,0-0.6s0-0.6,0-0.6c0-1.1,0-2.1,0-3.2c0-0.3,0-0.6,0-1
		c0-1.3,0.1-2.6,0.2-4v-0.8L74,159c0-0.2,0-0.4,0-0.6c0-0.2,0-0.4,0-0.6l0.1-1.2c0-0.8,0.2-1.6,0.3-2.4c0-0.1,0-0.1,0-0.2
		c0,0,0,0,0-0.2c0.2-1.3,0.4-2.6,0.6-3.9c0-0.4,0-0.7,0.2-1.1c0.1-1,0.3-2,0.5-3v-0.5v-0.5c0.2-1.3,0.5-2.6,0.7-3.8
		c0-0.2,0-0.5,0.2-0.7c0.2-0.9,0.4-1.8,0.6-2.6v-0.5c0-0.3,0.2-0.7,0.3-1.1c0.2-1.1,0.5-2.2,0.8-3.3l0.1-0.6c0.3-1.2,0.7-2.5,1-3.7
		l0.3-1l0.8-2.9l0.9-0.6l0.2-0.6c0.4-1.2,0.8-2.4,1.2-3.6v-0.3v-0.3c0.3-1,0.7-2.1,1.1-3.1l0.2-0.6l0.2-0.5c0.4-1,0.7-2,1.1-3
		l0.3-0.7c0.5-0.8,0.8-1.5,1-2.2l0.5-1.3l0.3-0.4l0.2-0.4c0.4-0.9,0.8-1.8,1.2-2.6l0.2-0.5l0.2-0.6c0.5-1.2,1.1-2.3,1.6-3.4v-0.2
		v-0.2l1-1.6l0.8-1.6c0.2-0.3,0.4-0.7,0.5-1L94,94l0.6-1.3L95,92c0.6-1.1,1.2-2.2,1.8-3.3l0.4-0.9c0.5-0.8,1-1.7,1.5-2.6l0.3-0.5
		l0.3-0.4c0.6-1.1,1.3-2.1,2-3.1c0-0.1,0-0.1,0-0.2l1.5-2.3l0.6-0.9l0.6-0.9c0.6-0.8,1.1-1.6,1.7-2.4l0.3-0.4l0.3-0.4l2.2-2.9
		l0.3-0.4l0.3-0.3l1.8-2.4l0.5-0.6l0.2-0.3l1.5-1.8l0.7-0.8l0.3-0.3l2.4-2.9l0.6-0.7l1.9-2.1l0.7-0.8l2.6-2.6l0.3-0.3l0.3-0.3
		c0.7-0.7,1.4-1.5,2.1-2.2l0.8-0.8L128,49l0.5-0.5l2.6-2.6l0.8-0.7l0.2-0.2l2-1.7l0.8-0.7l2.8-2.4l0.5-0.4l2.4-2l1-0.8l1.2-0.9
		l1.2-0.9l0.7-0.5c1-0.7,2-1.5,3-2.2h0.2l0.7-0.5l2.4-1.6l1-0.6l3.1-2h0.2h0.2l1.4-0.9l1.4-1.3l0.4-0.3l0.5-0.3l1.3-0.8l1.3-0.8
		l0.5-0.3l0.3-0.2l3.4-1.8l0.3-0.2l0.4-0.2l2.6-1.3l0.5-0.3l0.5-0.3l3.2-1.6c9-4.4,18.4-8,28-10.9l1.5-0.4l2.2-0.6l1.7-0.6l2.6-0.5
		l0.9-0.2l0.9-0.2l1.3-0.3l1.3-0.3l1.3-0.3h0.2l2.6-0.5h0.6l0.6-0.3l1.7-0.2l1.9-0.3l1.3-0.2l2.8-0.4l1.2-0.2l1.2-0.1l2.6-0.3h1.1
		l2-0.3h1h1.1l3.9-0.4h0.7h2.3l1.2-0.2h1.1h4h4.1h1.1h1.1h2.3h0.7l3.9,0.2h1.1h1l2.1,0.2h1.1l2.5,0.3l1.3,0.2l1.1,0.2l2.8,0.4
		l1.4,0.7l1.8,0.3l1.8,0.2h0.7h0.5c0.9,0.1,1.8,0.3,2.6,0.5l1.6,0.3l2.6,0.6L290,4l1,0.2l1.3,0.3l1.3,0.2l1.7,0.6l2.2,0.6l1.2,0.3
		h0.3c9.6,2.8,19,6.4,28,10.8l3.2,1.6l0.4,0.2l0.6,0.3l1.3,0.7l1.3,0.8l0.4,0.2l0.4,0.2l3.2,1.8l0.8,0.4l2.6,1.5l0.5,0.3l0.5,0.3
		l2.9,1.8h0.2h0.2l2.4,1.6l0.7,0.5l0.9,0.6l1.6,1.1l0.8,0.6l0.4,0.3l0.4,0.3c1,0.7,2,1.5,3,2.2l0.7,0.5l1.2,0.9l1.2,0.9l0.9,0.7
		l2.5,2l0.5,0.4l2.2,1.8l0.7,0.6l0.4,0.3l0.4,0.4l1.1,1l1.1,1l0.6,0.5l0.3,0.2c0.9,0.8,1.8,1.7,2.6,2.6l0.3,0.3l0.2,0.2
		c0.8,0.7,1.5,1.5,2.2,2.2l0.8,0.8l2.1,2.2l0.5,0.6L381,57l0.7,0.8l1,1.1l1,1.1l0.7,0.8l1.6,1.9l0.8,1l0.1,0.2L387,64
		c0.7,0.8,1.4,1.7,2.1,2.6l0.3,0.4l0.3,0.4l1.8,2.4l0.3,0.3l0.3,0.3c0.7,1,1.5,2,2.2,3l0.6,0.8l0.4,0.6l1.3,1.8l0.6,0.9
		c0.7,1.1,1.4,2.1,2.1,3.1v0.2c0.7,1,1.3,2,1.9,3.1l0.6,1l0.2,0.4c0.4,0.7,0.8,1.4,1.2,2.1l0.5,0.8l1.2,2.2l0.6,1.1l0.2,0.4l0.2,0.4
		c0.5,0.9,1,1.8,1.4,2.6c0.2,0.3,0.3,0.7,0.5,1l0.4,0.8c0.4,0.8,0.8,1.6,1.2,2.3l0.2,0.3c0.6,1.1,1.1,2.3,1.6,3.4
		c0.1,0.3,0.3,0.7,0.4,1l0.7,1.5l0.5,1.2l0.2,0.4l0.2,0.4c0.5,1.2,1,2.4,1.5,3.5l0.1,0.4v0.3l0.6,1.5l0.6,1.5l0.2,0.5l0.2,0.6
		c0.4,1.1,0.8,2.1,1.1,3.1c0,0.1,0.1,0.3,0.1,0.4l0.6,1.9l0.6,1.8c0,0.4,0.2,0.7,0.3,1l0.8,2.9l0.3,1c0.4,1.3,0.7,2.5,1,3.7l0.1,0.6
		l0.8,3.3v0.6v0.6v0.5c0.2,0.9,0.4,1.8,0.6,2.6l0.1,0.7c0.3,1.3,0.5,2.6,0.7,3.8v0.5v0.5l0.5,3v0.5v0.6c0.2,1.3,0.4,2.6,0.6,3.9
		c0,0,0,0,0,0.2c0,0.1,0,0.1,0,0.2c0.1,1.2,0.3,2.4,0.4,3.6c0,0.4,0,0.8,0,1.1c0.1,1.1,0.2,2.1,0.3,3.2v0.8c0,1.3,0.2,2.6,0.3,4
		c0,0.2,0,0.3,0,0.5s0,0.3,0,0.5c0,1.1,0,2.1,0,3.2c0,0.2,0,0.4,0,0.6s0,0.4,0,0.6c0,1.3,0,2.6,0,4.1v206L427,382.4z M181.1,248
		v31.5H323V248H181.1z M165.4,169.1v31.5h173.3v-31.5H165.4z"
        />
      </g>
    </template>
    <template v-if="icon === 'museum'">
      <g transform="translate(0 0)">
        <path
          class="a"
          d="M133.017,47.722a1.783,1.783,0,0,0-.217-.86,1.762,1.762,0,0,0-1.332-.884,4.545,4.545,0,0,0-.581-.013H119.847c-.053,0-.109,0-.162,0a1.777,1.777,0,0,0-1.4.789A1.958,1.958,0,0,0,118,47.884V61.8a2.022,2.022,0,0,0,.244,1.077,1.77,1.77,0,0,0,1.361.848c.076.008.154.008.231.008H131.32a1.768,1.768,0,0,0,1.7-1.748c0-.164,0-.33,0-.494V48.261C133.018,48.078,133.017,47.9,133.017,47.722ZM125.109,49.5v5.041a.2.2,0,0,1-.29.164c-.347-.2-.694-.4-1.039-.6l-.526-.307c-.088-.051-.175-.1-.263-.152-.057-.032-.145-.114-.215-.1a.8.8,0,0,0-.213.122l-.257.151-.515.3c-.341.2-.684.395-1.023.595a.2.2,0,0,1-.29-.164v-5.46c0-.015,0-.03,0-.044a1.341,1.341,0,0,1,.023-.391.507.507,0,0,1,.124-.21.345.345,0,0,1,.025-.03.472.472,0,0,1,.071-.055.309.309,0,0,1,.034-.019,1.216,1.216,0,0,1,.619-.074l.242,0H124.1c.151,0,.3,0,.452,0a.562.562,0,0,1,.53.412.172.172,0,0,1,.023.1C125.1,49.01,125.109,49.254,125.109,49.5Z"
          transform="translate(-118 -45.962)"
        />
      </g>
    </template>
    <template v-if="icon === 'religious'">
      <path
        class="a"
        d="M17.337,20.754a10.4,10.4,0,0,0,9.818-7.078A.608.608,0,0,0,26.1,13.1,7.314,7.314,0,1,1,19.031,1.346a.608.608,0,0,0-.013-1.2,10.369,10.369,0,1,0-1.681,20.606Z"
        transform="translate(-7 0)"
      />
      <path
        class="a"
        d="M225.062,104.6a.609.609,0,0,0-.488-.413l-2.212-.333-1-2a.633.633,0,0,0-1.088,0l-1,2-2.212.333a.608.608,0,0,0-.337,1.034l1.594,1.571L217.95,109a.608.608,0,0,0,.88.64l1.987-1.031,1.987,1.031a.608.608,0,0,0,.88-.64l-.368-2.208,1.594-1.571a.608.608,0,0,0,.151-.621Z"
        transform="translate(-208.048 -97.424)"
      />
    </template>
    <template v-if="icon === 'tombs'">
      <path
        d="M472.1,235.1H412.6c-.3-85.2-1.3-82.2-7.1-100.6C387.5,78.1,333.9,34.7,259.6,16c-9.7-2.4-13.2-2.6-18.2-.8l-16.7,5.4c-67.5,22-116.3,65.7-133.4,119.3-5.7,18.2-6.7,15.9-7.1,95.2H27.9A27.9,27.9,0,0,0,0,263V477.8H500V263A27.9,27.9,0,0,0,472.1,235.1Zm-259.7,195H161.5V327.9c0-97.2.1-102.3,2-106.6a19.4,19.4,0,0,1,5.4-6.8c3.4-2.4,16.2-8.5,18.1-8.7s4.5,1.6,8.6,3.5c8.6,4.1,14,9.6,15.6,15.6.8,2.7,1.2,37.9,1.2,104.6ZM269,130.2c-6,6.7-11.9,9.4-20.6,9.4s-14.6-2.7-20.6-9.4a30.8,30.8,0,0,1,1.7-42c7.7-7.7,17.6-9.9,27.9-6.5s19.2,16.5,19.2,28A31.6,31.6,0,0,1,269,130.2Zm66.3,299.9H284.4V329c0-65.9.4-102.5,1.1-105.1,1.6-5.5,6.7-10.3,15.7-14.5s9.7-3.9,18.4.2c7.1,3.3,13.2,9.5,14.6,14.5.7,2.4,1.1,41.1,1.1,104.9Z"
      />
    </template>
    <template v-if="icon === 'link'">
      <path
        d="M380.4,0a119.2,119.2,0,0,0-84.6,35l-93.2,93.2c7.1-1,14.2-2.1,21.5-2.1a156.4,156.4,0,0,1,57.8,11.1l58-58A57.1,57.1,0,0,1,420.7,160L316.3,264.5c-21.6,21.6-59.2,21.6-80.8,0l-44.2,44.2a119.7,119.7,0,0,0,169.2,0L465,204.2a118.7,118.7,0,0,0,35-84.6C500,53.7,446.3,0,380.4,0Z"
      />
      <path
        d="M217.5,363.3,160,420.8A57.1,57.1,0,0,1,79.2,340L183.7,235.5c21.6-21.6,59.2-21.6,80.8,0l44.2-44.2c-45.2-45.1-124-45.2-169.2,0L35,295.8A118.7,118.7,0,0,0,0,380.4C0,446.3,53.7,500,119.6,500a119.2,119.2,0,0,0,84.6-35l91.9-91.9c-6.7.9-13.4,2-20.3,2a153.7,153.7,0,0,1-58.3-11.8Z"
      />
    </template>
  </svg>
</template>

<style lang="scss" scoped>
.the-icon {
  fill: currentColor;
}
</style>

<style scoped>
.a {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 3px;
}

.st0 {
  fill: currentColor;
}

/* .c {
  opacity: 0.3;
} */

.f,
.t,
.i {
  fill: currentColor;
}
</style>
