@import '../scss/mixins';
@import '../scss/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;

  @include bp(laptop-l) {
    font-size: 9px;
  }

  @include bp(desktop) {
    font-size: 8px;
  }

  @include bp(tablet) {
    font-size: 9px;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 100vh;
  max-width: 100vw;

  @include bp(tablet) {
    overflow-y: visible;
    max-height: unset;
  }
}

button {
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: #f4f4f4;

  &.homepage {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/*Scss'e çevirilecek*/
.nice-scroll {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
    margin-bottom: 2rem;

    @include bp(tablet) {
      display: none;
      visibility: hidden;
      width: 0;
    }
  }

  &::-webkit-scrollbar-track {
    background: #e5e5e5;
    margin: 0 0;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 4px;
  }
}

.gm-style-pbc + div {
  &::after {
    content: '';
    height: 250px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(0deg, #333333 0%, transparent 100%);
    opacity: 0.1;
  }

  &::before {
    content: '';
    height: 250px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(180deg, #333333 0%, transparent 100%);
    opacity: 0.1;
  }
}

.hidden-desktop {
  @include bp(r-tablet) {
    display: none;
  }
}

@media (max-width: 768px) {
  .scroll-hidden {
    -webkit-overflow-scrolling: touch;
  }
}

.scroll-hidden::-webkit-scrollbar {
  width: 3px;
}

.scroll-hidden::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-hidden::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
}

.scroll-hidden:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.hidden-mobile {
  @include bp(mobile) {
    display: none;
  }
}

.tooltip {
  position: relative;

  & > .tooltip__text {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    padding: 1rem;
    font-size: 1.3rem;
    color: rgba(#2b2b2b, 0.5);
    transition: $transition;
    top: calc(100% + 2rem);
    background: $background;
    box-shadow: $box-shadow;
    border-radius: 6px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      content: '';
      width: 0;
      height: 0;
      border: 7px solid transparent;
      position: absolute;
      top: -14px;
      border-bottom-color: #f4f4f4;
      transform: translateX(-50%);
      left: 50%;
    }
  }

  &:hover > .tooltip__text {
    opacity: 1;
  }

  &--float-right {
    .tooltip__text {
      left: unset;
      transform: none;
      right: 0;

      &::before {
        right: 17px;
        transform: none;
        left: unset;
      }
    }
  }

  &--top {
    .tooltip {
      &__text {
        top: calc(-100% + 1rem);

        &::before {
          position: absolute;
          top: calc(100%);
          border-bottom-color: transparent;
          border-top-color: #f4f4f4;
        }
      }
    }
  }

  &--right {
    .tooltip {
      &__text {
        top: 50%;
        left: calc(100% + 2rem);
        transform: translate(0, -50%);

        &::before {
          position: absolute;
          top: calc(50%);
          border-color: transparent;
          border-right-color: #f4f4f4;
          transform: translate(0, -50%);
          left: -14px;
        }
      }
    }
  }

  &--left {
    .tooltip {
      &__text {
        top: 50%;
        left: unset;
        right: calc(100% + 1rem);
        transform: translate(0, -50%);

        &::before {
          position: absolute;
          top: calc(50%);
          border-color: transparent;
          border-left-color: #f4f4f4;
          transform: translate(0, -50%);
          right: -14px;
          left: unset;
        }
      }
    }
  }

  &--white {
    .tooltip {
      &__text {
        background-color: #fff;

        &::before {
          border-bottom-color: #fff;
        }
      }
    }
  }
}
