<script>
// import FirstVisit from '../components/FirstVisit.vue'
import Intro from '../components/Intro.vue'
import Gmap from '../components/Gmap.vue'
import HomeCategoryFilter from '../components/HomeCategoryFilter.vue'
import TheHeader from '../components/TheHeader.vue'
import Error from '../components/error.vue'

export default {
  name: 'Default',

  components: {
    TheHeader,
    Gmap,
    HomeCategoryFilter,
    // FirstVisit,
    Error,
    Intro,
  },

  data() {
    return {
      activeRoute: '/',
      transition: 'fade-in',
      mapLoaded: false,
      firstVisit: null,
      isDetail: false,
      notFound: false,
    }
  },

  computed: {
    inDetail() {
      return (
        this.activeRoute !== '/' && this.activeRoute !== '/en' && this.mapLoaded
      )
    },
  },

  watch: {
    $route: {
      immediate: true,
      handler(route) {
        console.log('route: ', route)
        this.activeRoute = route.path
        if (route.name === null || route.name.indexOf('error404') > -1) {
          this.notFound = true
        } else {
          this.notFound = false
          if (
            route.path.includes('/lokasyon/') ||
            route.path.includes('/place/')
          ) {
            this.isDetail = true
          } else {
            this.isDetail = false
          }
        }
      },
    },
  },

  // async mounted() {
  //   if (!localStorage.getItem('first')) {
  //     localStorage.setItem('first', 'true')
  //   }
  //   this.firstVisit = localStorage.getItem('first', 'true') === 'true'
  //   console.log('fv: ', this.firstVisit)
  //   console.log('marker: ', this.$store.state.activeLocation)
  // },

  methods: {
    close() {
      this.$router.push(this.localePath('/'))
    },

    handleMapLoaded(val) {
      setTimeout(() => {
        this.mapLoaded = val
      }, 500)
      console.log('mapLoaded: ', this.mapLoaded)
    },

    handleMarkerClick(marker) {
      console.log(this.localePath('/lokasyon/:slug'))
      this.$router.push(
        this.localePath({
          name: 'lokasyon-slug',
          params: { slug: marker.slug, slug_en: marker.slug_en },
        })
      )
    },

    handleCloseDetail() {
      setTimeout(() => {
        this.$refs.gMap.zoomOutCenter()
      }, 200)
      this.$router.push('/')
    },
  },
}
</script>

<template>
  <div class="h">
    <template v-if="notFound">
      <Error />
    </template>
    <template v-else>
      <!-- <FirstVisit v-if="firstVisit" /> -->
      <Intro />
      <TheHeader />
      <client-only>
        <HomeCategoryFilter v-if="$store" class="h-filter" />
      </client-only>
      <Gmap
        ref="gMap"
        :marker="$store.state.activeLocation"
        @marker-click="handleMarkerClick"
      />
      <transition :name="transition" mode="out-in">
        <div v-if="isDetail" class="h-detail">
          <Nuxt @close-detail="handleCloseDetail" />
        </div>
      </transition>
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';
@import '../assets/scss/transitions';

.h {
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;

  &-filter {
    position: absolute;
    right: 2rem;
    top: 7rem;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include bp(tablet) {
      top: 6rem;
    }
  }

  &-links {
    position: fixed;
    left: 5rem;
    top: 10rem;
    z-index: 20;

    & > a {
      color: $pink;
    }
  }

  &-detail {
    position: fixed;
    top: 1vh;
    right: 2vh;
    height: calc(100% - 2vh);
    z-index: 20;
    box-shadow: -2rem 0 55rem 10rem rgba($color: #000000, $alpha: 0.35);
    border-radius: 2rem;
    &::v-deep .detail-page-header {
      padding-right: 0 !important;
    }
  }
}
</style>
