<script>
import TheHeader from '../components/TheHeader.vue'
import Close from '../components/Close.vue'
export default {
  components: { TheHeader, Close },

  transition: 'layout-fade',

  methods: {
    handleClearCategory() {
      this.$store.commit('SET_ACTIVE_CATEGORY', '')
    },
  },
}
</script>

<template>
  <div
    class="detail"
    :class="
      $route.path == '/arama' || $route.path == '/search'
        ? 'detail--search'
        : ''
    "
  >
    <div class="detail-header">
      <TheHeader />
      <Close />
    </div>
    <section class="detail-content">
      <Nuxt />
    </section>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';

.detail {
  background: $background;
  position: relative;
  .nice-scroll {
    &::-webkit-scrollbar-track {
      margin-top: 12rem !important;
    }
  }
  &--search {
    @include bp(tablet) {
      .detail {
        &-header {
          &::v-deep .header {
            display: none;
          }
        }
        &-content {
          padding-top: 4rem;
        }
      }
    }
  }
  &-header {
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: auto;
    background: linear-gradient(180deg, #f4f4f4 0%, #f4f4f400 100%);
    z-index: 20;

    .logo {
      box-shadow: none;
    }
  }

  &-content {
    //padding-top: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &::v-deep .header {
    position: static;
    &-nav {
      display: none;
      @include bp(tablet) {
        display: flex;
      }
    }
  }
  &::v-deep .close-btn {
    margin-right: 2rem;

    @include bp(tablet) {
      display: none;
    }
  }
}
</style>
