<template>
  <div class="qr-layout">
    <Nuxt />
  </div>
</template>

<script>
export default {
  name: 'QrLayout',
}
</script>

<style lang="scss" scoped>
.qr-layout {
  width: 100%;
  height: 100%;
}
</style>
