<script>
import { newTypes, orders } from '../assets/data/location-types'
import Location from '../components/Location.vue'
import TheFilter from '../components/TheFilter.vue'

export default {
  name: 'Search',
  components: { Location, TheFilter },
  layout: 'detail',

  async asyncData({ $http, store, app }) {
    if (store.state.locationList.length > 0) return null
    const locListRes = await $http.get(`${process.env.API_URL}/api/locations`)
    let data = await locListRes.json()
    const locale = app.i18n.locale
    store.commit('SET_LOCATIONS', data)
    data = store.state.locations
    return { data, locale }
  },

  data() {
    return {
      category: 'all',
      order: '',
      locationTypes: newTypes,
      orderTypes: orders,
      search: '',
      searched: false,
      // periodTypes: periods,
      headerText: this.$t('recommendedLocations'),
    }
  },

  computed: {
    filteredList() {
      let list = JSON.parse(JSON.stringify(this.$store.state.locations))

      if (this.category !== 'all') {
        list = this.$store.state.locations.filter(
          (el) => el.type === this.category
        )
      }

      if (this.search.length > 2) {
        list = list.filter((l) => {
          let term = this.search.trim().toLocaleLowerCase('tr')
          let item = l.name[this.$i18n.locale].trim().toLocaleLowerCase('tr')
          return item.includes(term)
        })
      }

      list.sort((a, b) => {
        if (this.order === 'az')
          return a.name[this.$i18n.locale].localeCompare(
            b.name[this.$i18n.locale]
          )
        if (this.order === 'za')
          return b.name[this.$i18n.locale].localeCompare(
            a.name[this.$i18n.locale]
          )
      })

      if (this.search.length < 3) {
        list = this.$store.getters['selectedLocations']
      }

      return list
    },
  },

  watch: {
    search(val) {
      if (val.length > 2) {
        this.searched = true
        this.headerText = this.$t('foundResults')
      }
    },
  },

  mounted() {
    this.$refs.searchBox.focus()
    let obj = document.querySelector('.search')
    obj.scrollTo({ top: 0, behavior: 'smooth' })
  },

  methods: {
    setLocationsCategory(item) {
      this.category = item.id
      // this.$store.commit('SET_LOCATION_FILTERS', {
      //   type: e.target.value,
      //   order: this.$store.state.locationFilters.order,
      //   // period: this.$store.state.locationFilters.period,
      // })
    },

    setLocationsOrder(item) {
      this.order = item.id
    },
  },
}
</script>

<template>
  <div class="search-wrapper nice-scroll">
    <div class="search">
      <div class="searchbox">
        <img class="searchbox__icon" src="~/assets/icons/search.png" alt="" />
        <input
          ref="searchBox"
          v-model="search"
          type="text"
          class="searchbox__input"
          :placeholder="$t('searchPlaceholderLong')"
        />
        <div class="searchbox__close">
          <Close />
        </div>
      </div>
      <section class="search-filters">
        <div class="search-filters__category">
          <TheFilter
            :items="locationTypes"
            :name="$t('select')"
            @select-item="setLocationsCategory"
          />
          <!-- <div class="filter">
            <label for="category">Kategoriler</label>
            <select @change="setLocationsCategory">
              <option :value="'all'">Tüm Kategoriler</option>
              <option
                v-for="type in locationTypes"
                :key="type.id"
                :value="type.id"
                :v-model="type.id"
              >
                {{ type.name[$i18n.locale] }}
              </option>
            </select>
          </div> -->
        </div>
        <div class="search-filters__order">
          <TheFilter
            :items="orderTypes"
            :name="$t('orderFilterTitle')"
            @select-item="setLocationsOrder"
          />
          <!-- <div class="filter">
            <label for="order">Sırala</label>
            <select @change="setLocationsOrder">
              <option value="az">Alfabetik olarak A-Z</option>
              <option value="za">Alfabetik olarak Z-A</option>
            </select>
          </div> -->
        </div>
      </section>
      <main class="search-results">
        <header v-if="filteredList.length > 0" class="search-results-header">
          <div class="search-results-header-block">
            <span class="text">{{ headerText }}</span>
            <b class="count">{{ filteredList.length }}</b>
          </div>
        </header>
        <section class="search-results-list">
          <template v-for="(location, index) in filteredList">
            <!-- <nuxt-link
              :key="`location${index}`"
              :to="localePath(`/lokasyon/${location.slug}`)"
            > -->
            <Location
              :key="`location${index}`"
              :location-type="location.type"
              :title="location.name[$i18n.locale]"
              :thumb="`/images/thumb/${location.imageSmall}`"
              :slug="location.slug"
              :text="location.summary[$i18n.locale]"
            />
            <!-- </nuxt-link> -->
          </template>
        </section>
        <div v-if="filteredList.length === 0" class="no-result">
          {{ $t('noResults') }}
        </div>
      </main>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';
::v-deep {
  .detail-header {
    display: none;
  }
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search {
  position: relative;
  width: 95rem;
  margin: 0 auto;
  overflow: visible;
  padding-bottom: 4rem;
  height: calc(100vh);
  @include bp(tablet) {
    max-height: unset;
    width: 100%;
    max-width: 720px;
    height: auto;
  }
  &-wrapper {
    max-height: calc(100vh);
    overflow-y: auto;
    width: calc(100% - 2rem);
    @include bp(tablet) {
      max-height: unset;
      width: 100%;
      overflow: visible;
    }
  }

  &-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    margin-bottom: 2rem;
    &__order {
      @include bp(tablet) {
        .category-filter-menu {
          left: unset;
          right: 1rem;
        }
      }
    }
  }

  &-results {
    display: flex;
    flex-direction: column;

    &-header {
      text-align: center;
      position: relative;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 50%;
        background: $gray-light;
        opacity: 0.3;
        z-index: 0;
      }

      &-block {
        padding: 0 1.5rem;
        background: $background;
        position: relative;
        z-index: 10;
        font-family: 'Lora', serif;
        display: flex;
        align-items: center;
        & > .text {
          font-weight: 700;
          opacity: 0.4;
          font-size: 2rem;
          color: $black;
        }

        & > .count {
          display: inline-block;
          margin-left: 1rem;
          background: $white;
          color: $pink;
          width: 4.2rem;
          height: 4.2rem;
          font-size: 1.5rem;
          border-radius: 50%;
          font-weight: 900;
          display: grid;
          place-items: center;
        }
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 2rem;

      & > a {
        text-decoration: none;
        flex: 0 0 45%;
        @include bp(mobile) {
          flex: 0 0 100%;
        }
      }
    }
  }
}

.searchbox {
  margin: 0 auto;
  z-index: 10;
  width: 95rem;
  position: relative;
  margin-top: 14rem;
  @include bp(tablet) {
    width: 100%;
    max-width: 720px;
    margin-top: 0;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    height: 2.1rem;
  }

  &__input {
    display: block;
    height: 58px;
    background: $white;
    border: 1px solid rgba($color: $gray-light, $alpha: 0.2);
    width: 100%;
    border-radius: 3.6rem;
    font-family: 'Lora', serif;
    font-size: 2rem;
    padding: 0 2rem 0 7rem;
    color: $black;
    outline: none;
    font-weight: 600;
    transition: $transition;
    @include bp(tablet) {
      padding: 0 7rem 0 7rem;
      border-radius: 1.6rem;
      height: 6.4rem;
    }

    &:focus {
      border-color: rgba($color: $gray-light, $alpha: 0.6);
    }

    &::placeholder {
      color: $black;
      opacity: 0.6;
    }
  }
  &__close {
    display: none;

    @include bp(tablet) {
      display: block;
      width: 42px;
      height: 42px;
      position: absolute;
      top: 8px;
      right: 8px;
      &::v-deep .close-btn {
        display: flex;
        width: 42px;
        height: 42px;
        background: rgba($black, 0.05) !important;
        border-radius: 1rem;
        img {
          height: 1.7rem;
        }
      }
    }
  }
}
.no-result {
  text-align: center;
  padding: 4rem 0;
  font-size: 6rem;
  font-weight: bold;
  color: rgba($black, 0.3);
  @include bp(tablet-small-under) {
    font-size: 3rem;
  }
}
</style>
