<script>
// import Error from '../components/error.vue'

export default {
  name: 'ErrorPage',
  // components: {
  //   Error,
  // },
  layout: 'error',
}
</script>

<template>
  <Nuxt />
</template>
