<script>
import error from '../layouts/error.vue'
export default {
  name: 'Index',

  components: { error },

  async asyncData({ $http, store }) {
    try {
      const locListRes = await $http.get(`${process.env.API_URL}/api/locations`)
      if (locListRes.status > 300) {
        return { data: null }
      } else {
        const data = await locListRes.json()
        store.commit('SET_LOCATIONS', data)
        return { data }
      }
    } catch (error) {
      return { data: null }
    }
  },

  data() {
    return {
      activeRoute: '/',
    }
  },

  mounted() {
    if (process.browser) {
      localStorage.setItem('first', 'true')
    }
    window.scrollTo(0, 0)
  },
}
</script>

<template>
  <div class="home">
    <template v-if="data">
      <NuxtChild />
    </template>
    <template v-else><error /></template>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';
@import '../assets/scss/fonts';

.home {
  height: 100%;
  position: relative;

  &-filter {
    position: absolute;
    right: 2rem;
    top: 7rem;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include bp(tablet) {
      top: 6rem;
    }
  }
}
</style>
