<script>
import { newTypes, orders, periods } from '../assets/data/location-types'
import LocationsList from '../components/LocationsList.vue'
import TheFilter from '../components/TheFilter.vue'

export default {
  name: 'Locations',

  components: { LocationsList, TheFilter },

  layout: 'detail',

  async asyncData({ $http, store, app }) {
    if (store.state.locationList.length > 0) return null
    const locListRes = await $http.get(`${process.env.API_URL}/api/locations`)
    const data = await locListRes.json()
    store.commit('SET_LOCATIONS', data)
    const locale = app.i18n.locale
    let loc = locale === 'tr' ? '' : locale + '/'
    const delim = locale === 'tr' ? 'lokasyonlar' : 'places'
    const locationPath = `https://${process.env.DOMAIN}/${loc}${delim}`
    return { data, locationPath }
  },

  data() {
    return {
      locationTypes: newTypes,
      periodTypes: periods,
      orderTypes: orders,
      categoriesVisible: false,
      ordersVisible: false,
      periodsVisible: false,
      currentCategoryName: this.$t('allCategories'),
    }
  },

  head() {
    const title = `${this.$t('locations')} - ${this.$t('mainTitle')}`
    return {
      title: title,
      meta: [
        {
          name: 'title',
          content: title,
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$t('locationsPage.description'),
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: '/images/cover.jpg',
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: this.locationPath,
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'list',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this.$t('locations')} - ${this.$t('mainTitle')}`,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.$t('locationsPage.description'),
        },
      ],
    }
  },

  mounted() {
    let obj = document.querySelector('.locations')
    console.log('obj: ', obj)
    obj.scrollTo({ top: 0, behavior: 'smooth' })
  },

  methods: {
    getCategory(e) {
      this.$store.commit('SET_LOCATION_FILTERS', {
        type: e.target.value,
        order: this.$store.state.locationFilters.order,
        period: this.$store.state.locationFilters.period,
      })
    },

    handleSelectCategory(item) {
      this.$store.commit('SET_LOCATION_FILTERS', {
        type: item.id,
        order: this.$store.state.locationFilters.order,
        period: this.$store.state.locationFilters.period,
      })

      // this.categoriesVisible = false
      // this.currentCategoryName = type.name[this.$i18n.locale]
    },

    handleSelectOrder(item) {
      this.$store.commit('SET_LOCATION_FILTERS', {
        type: this.$store.state.locationFilters.type,
        order: item.id,
        period: this.$store.state.locationFilters.period,
      })
    },

    handleSelectPeriod(item) {
      this.$store.commit('SET_LOCATION_FILTERS', {
        type: this.$store.state.locationFilters.type,
        order: this.$store.state.locationFilters.order,
        period: item.id,
      })
    },

    orderLocations(e) {
      this.$store.commit('SET_LOCATION_FILTERS', {
        type: this.$store.state.locationFilters.type,
        order: e.target.value,
        period: this.$store.state.locationFilters.period,
      })
    },

    filterByYear(e) {
      this.$store.commit('SET_LOCATION_FILTERS', {
        type: this.$store.state.locationFilters.type,
        order: this.$store.state.locationFilters.order,
        period: e.target.value,
      })
    },

    showCategories() {
      this.categoriesVisible = true
    },

    toggleCategories() {
      this.categoriesVisible = !this.categoriesVisible
    },
  },
}
</script>

<template>
  <div class="locations-wrapper nice-scroll">
    <div class="locations">
      <header class="locations-header">
        <img
          class="locations-header__icon"
          src="~/assets/icons/location.png"
          alt=""
        />
        <h1 class="locations-header__title">{{ $t('locationsPage.title') }}</h1>
        <p class="locations-header-text">
          <span class="locations-header-text__content">
            {{ $t('locationsPage.subtext') }}
          </span>
        </p>
      </header>
      <section class="locations-filters">
        <div class="locations-filters-left">
          <TheFilter
            :items="locationTypes"
            :name="$t('categoryFilterTitle')"
            :show-icons="false"
            @select-item="handleSelectCategory"
          />
        </div>
        <div class="locations-filters-right">
          <TheFilter
            :items="orderTypes"
            :name="$t('orderFilterTitle')"
            @select-item="handleSelectOrder"
          />
          <TheFilter
            :items="periodTypes"
            :name="$t('periodFilterTitle')"
            @select-item="handleSelectPeriod"
          />
        </div>
      </section>
      <main class="locations-lists">
        <LocationsList
          v-for="list in $store.state.locationList"
          v-show="list.locations.length > 0"
          :key="`locationList${list.id}`"
          :name="list.name[$i18n.locale]"
          :items="list.locations"
          :list-type="list.id"
          class="locations-lists__list"
        />
      </main>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';
@import '../assets/scss/transitions';

.locations {
  position: relative;
  width: 130rem;
  margin-left: auto;
  margin-right: auto;
  @include bp(laptop) {
    width: 100%;
    padding-right: 3rem;
  }
  @include bp(tablet) {
    max-width: 720px;
    padding-right: 0;
  }
  @include bp(tablet-small-under) {
    width: 540px;
    max-width: 100%;
  }
  &-wrapper {
    max-height: calc(100vh);
    overflow-y: auto;
    width: calc(100% - 2rem);
    height: 100vh;
    @include bp(tablet) {
      max-height: unset;
      width: 100%;
      overflow: visible;
      height: auto;
    }
  }
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 12rem;
    @include bp(tablet) {
      margin-top: 0rem;
      padding-top: 12rem;
    }
    &__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 3rem;
    }

    &__title {
      font-family: 'Lora', serif;
      font-weight: 700;
      font-size: 3.8rem;
      margin-top: 1rem;
    }

    &-text {
      font-family: 'Lora', serif;
      opacity: 0.6;
      margin-top: 2.75rem;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
      color: $black;
      &::before {
        content: '';
        position: absolute;
        background: $gray-yellow;
        height: 1px;
        width: 100%;
        top: 0.5rem;
        left: 0;
        z-index: 0;
      }

      &__content {
        position: relative;
        z-index: 10;
        display: block;
        max-width: 52rem;
        padding: 0 5rem;
        background: $background;
      }
    }
  }

  &-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: $gray-yellow, $alpha: 0.6);
    padding-top: 2rem;
    padding-bottom: 3rem;
    &-item {
      position: relative;
      cursor: pointer;
      & + & {
        margin-left: 7rem;
      }
      &__title {
        font-size: 1.5rem;
        color: rgba($black, 0.55);
        margin-bottom: 0.7rem;
        font-family: 'Lora', serif;
      }

      &__select {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        color: $black;
        position: relative;
        padding-right: 3rem;
        font-family: 'Lora', serif;
        font-weight: bold;
        &::after {
          content: '';
          width: 0;
          height: 0;
          border: 4px solid transparent;
          border-top-color: $black;
          bottom: 3px;
          right: 0;
          position: absolute;
        }
        &::before {
          content: '';
          width: 0;
          height: 0;
          border: 7px solid transparent;
          position: absolute;
          top: calc(100% + 35px);
          border-bottom-color: #fff;
          transform: translateX(-50%);
          left: 50%;
        }
        img {
          font-size: 1.4rem;
          margin-right: 1.2rem;
          height: 1em;
        }
      }
      &-menu {
        position: absolute;
        top: 100%;
        transform: translateY(2px);
        left: 0;
        width: 230px;
        min-width: max-content;
        background: #fff;
        z-index: 4;
        box-shadow: 0 0px 20px -4px rgba($black, 0.1);
        max-height: 320px;
        overflow-y: auto;
        overflow-y: overlay;
        opacity: 0;
        transition: $transition;
        border-radius: 0.8rem;
        &--small {
          width: 160px;
        }
        &.active {
          opacity: 1;
        }
        &__option {
          padding: 1.6rem 1.4rem;
          font-size: 1.6rem;
          transition: $transition;
          font-family: 'Lora', serif;

          &:not(.active):hover {
            color: $pink;
          }

          &.active {
            color: #fff;
            background: $pink;
          }

          & + & {
            border-top: 1px solid #eee;
          }
        }
      }
    }

    &-left,
    &-right {
      display: flex;
    }
    &-right {
      & > *:first-child {
        @include bp(tablet-small-under) {
          // flex: 0 0 100%;
          display: none;
        }
      }

      & > *:last-child {
        margin-left: 3rem;

        @include bp(tablet-small-under) {
          margin-left: 1.5rem;
        }

        &::v-deep .category-filter-menu {
          width: 14rem;
          margin-left: -1rem;
        }
      }
    }
  }

  &-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2.75rem;

    &__list {
      flex: 0 0 33.33333%;
      @include bp(laptop) {
        flex: 0 0 33.33333%;
      }
      @include bp(tablet) {
        flex: 0 0 50%;
      }
      @include bp(tablet-small-under) {
        flex: 0 0 100%;
        &:not(:last-child) {
          border-bottom: 1px solid rgba($gray, 0.2);
          padding-bottom: 2rem;
        }
      }
    }
  }
}
</style>
