<script>
export default {
  name: 'CulturePath',
  layout: 'detail',

  async asyncData({ app, env }) {
    const locale = app.i18n.locale
    console.log('env', env)
    let loc = locale === 'tr' ? '' : locale + '/'
    const locationPath = `https://${env.DOMAIN}/${loc}kultur-vadisi`
    return { locationPath }
  },

  data() {
    return {
      videoVisible: false,
    }
  },

  head() {
    const title = `${this.$t('routePage.title')} - ${this.$t('mainTitle')}`
    return {
      title: title,
      meta: [
        {
          name: 'title',
          content: title,
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$t('routePage.description'),
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: '/images/cover.jpg',
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: this.locationPath,
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'list',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this.$t('routePage.title')} - ${this.$t('mainTitle')}`,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.$t('routePage.description'),
        },
      ],
    }
  },

  mounted() {
    let obj = document.querySelector('.culture')
    obj.scrollTo({ top: 0, behavior: 'smooth' })
  },

  methods: {
    showVideo() {
      this.videoVisible = true
    },

    hideVideo() {
      this.videoVisible = false
    },
  },
}
</script>

<template>
  <div class="culture-wrapper nice-scroll">
    <div class="culture">
      <header class="culture-header">
        <span class="culture-header-icon">
          <img
            class="culture-header-icon__image"
            src="~/assets/icons/route.svg"
            alt=""
          />
        </span>
        <h1 class="culture-header__title">{{ $t('routePage.title') }}</h1>
      </header>
      <main class="culture-main">
        <!-- <section class="culture-main-heading">
          <div class="culture-main-heading-logo">
            <img
              class="culture-main-heading-logo__image"
              src="~/assets/images/logo-alt.svg"
              alt=""
            />
          </div>
          <p class="culture-main-heading__text">
            {{ $t('routePage.headerText') }}
          </p>
        </section> -->

        <div class="culture-main-promo" @click="showVideo">
          <div class="culture-main-promo-overlay">
            <span class="culture-main-promo-overlay__play">
              <img src="~/assets/icons/play-black.svg" alt="" />
            </span>
            <span class="culture-main-promo-overlay__text">
              {{ $t('routePage.watchPromo') }}
            </span>
          </div>
          <img
            class="culture-main-promo__image"
            src="~/static/images/zeytinburnu_kulturvadisi_cover.jpg"
            alt=""
          />
        </div>

        <article class="culture-main-article">
          <h2 class="culture-main-article__title">
            {{ $t('routePage.article.title') }}
          </h2>
          <div
            class="culture-main-article__content"
            v-html="$t('routePage.article.content')"
          />
        </article>
      </main>
      <transition name="fade">
        <template v-if="videoVisible">
          <div class="modal-overlay" @click.self="hideVideo">
            <span class="modal-close" @click="hideVideo">
              <img src="~/assets/icons/close.svg" alt="" />
            </span>
            <div class="modal">
              <iframe
                :src="$t('introVideoUrl')"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media;"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </template>
      </transition>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';
@import '../assets/scss/transitions';

.modal {
  width: calc(100% - 2rem);
  max-width: 90rem;
  position: relative;
  overflow: hidden;

  &::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  &-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: 0.15s;
    z-index: 99999;

    &:hover {
      opacity: 1;
    }

    & > img {
      filter: brightness(0) invert(1);
      height: 2.5rem;
      width: auto;
    }
  }

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.culture {
  position: relative;
  width: 108rem;
  margin: 0 auto;
  overflow: visible;
  padding-bottom: 4rem;
  @include bp(tablet) {
    max-height: unset;
    width: 100%;
    max-width: 720px;
  }
  &-wrapper {
    max-height: calc(100vh);
    overflow-y: auto;
    width: calc(100% - 2rem);
    @include bp(tablet) {
      max-height: unset;
      width: 100%;
      overflow: visible;
    }
  }
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 5rem;
    @include bp(tablet) {
      margin-top: 0rem;
      padding-top: 12rem;
      margin-bottom: 4rem;
    }
    @include bp(tablet-small-under) {
      margin-bottom: 3.5rem;
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &__image {
        height: 4.2rem;
        width: auto;
      }
    }

    &__title {
      font-size: 3.8rem;
      font-weight: bold;
      font-family: 'Lora', serif;
      letter-spacing: 0.08px;
      margin-top: 0.5rem;
      color: $black;
      // @include bp(tablet) {
      //   font-size: 3.4rem;
      // }
      // @include bp(tablet-small-under) {
      //   font-size: 3rem;
      // }
    }
  }

  &-main {
    &-heading {
      display: flex;
      align-items: center;
      margin-top: 5rem;
      padding-left: 0.75rem;
      @include bp(tablet-small-under) {
        margin-bottom: 4rem;
      }
      &-logo {
        padding: 4.5rem;
        background: $white;
        border-radius: 1.6rem 1.6rem 0 0;
        margin-right: 3.8rem;
        @include bp(tablet) {
          padding: 3rem;
        }
        @include bp(tablet-small-under) {
          border-radius: 1.6rem;
          padding: 2rem;
        }
        @include bp(mobile) {
          display: none;
        }
        &__image {
          height: 12rem;
          @include bp(tablet) {
            height: 9rem;
          }
        }
      }

      &__text {
        font-size: 3rem;
        line-height: 1.4em;
        font-family: 'Lora', serif;
        font-weight: 600;
        color: rgba($black, 0.8);
        @include bp(tablet) {
          font-size: 2.6rem;
        }
        @include bp(tablet-small-under) {
          font-size: 2.2rem;
        }
      }
    }

    &-promo {
      height: 52rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      @include bp(tablet) {
        height: 40rem;
      }
      @include bp(mobile) {
        height: 35rem;
      }
      @include bp(mobile-l-small) {
        height: calc((100vw - 4rem) * 2 / 3);
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 0;
      }

      &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 4.5rem;
        z-index: 10;
        background: linear-gradient(
          to right,
          rgba(#000, 0.8) 0%,
          rgba(#000, 0) 60%
        );
        background-size: 100%;
        color: $white;
        transition: $transition;
        @include bp(tablet-small-under) {
          background: linear-gradient(
            to right,
            rgba(#000, 0.8) 0%,
            rgba(#000, 0) 100%
          );
        }
        @include bp(mobile-l-small) {
          padding-left: 2rem;
        }
        &:hover {
          background-size: 120%;
          .culture-main-promo-overlay {
            &__play {
              background: $red;
              img {
                filter: brightness(0) invert(1);
              }
            }
          }
        }
        &__play {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 8.8rem;
          height: 8.8rem;
          background: $white;
          border-radius: 50%;
          margin-left: 2rem;
          transition: $transition;
          @include bp(mobile) {
            width: 6rem;
            height: 6rem;
            margin-left: 0;
          }
          & > img {
            height: 2rem;
            width: auto;
            transition: $transition;
            @include bp(mobile) {
              height: 1.8rem;
            }
          }
        }

        &__text {
          display: inline-block;
          margin-left: 5rem;
          font-size: 4rem;
          font-family: 'Lora', serif;
          font-weight: 700;
          letter-spacing: -0.01em;
          @include bp(mobile) {
            font-size: 3rem;
          }
          @include bp(mobile-l-small) {
            margin-left: 3rem;
          }
        }
      }
    }

    &-article {
      margin-top: 4rem;
      columns: 2;
      column-gap: 6rem;
      font-family: 'Lora', serif;
      @include bp(mobile) {
        columns: 1;
        column-gap: 0;
      }
      a {
        text-decoration: none;
        color: $gray;
        transition: $transition;
        font-size: 1.6rem;
        font-family: 'Lora', serif;
        font-weight: 500;
        &:hover {
          color: $red;
        }
      }
      &__title {
        margin-bottom: 3.5rem;
        font-size: 4.8rem;
        line-height: 1.4em;
        font-weight: 400;
        color: $black;
        font-family: 'Lora', serif;
        @include bp(tablet) {
          font-size: 4rem;
        }
        @include bp(mobile) {
          font-size: 3rem;
          padding-bottom: 2rem;
          margin-bottom: 2rem;
        }
      }
      p {
        @include bp(mobile) {
          margin-bottom: 2rem;
        }
      }
      &__content {
        padding-bottom: 1rem;
        font-size: 1.7rem;
        line-height: 1.6em;
        color: rgba($color: $black, $alpha: 0.65);
        font-family: 'Lora', serif;

        // & > p {
        //   margin-top: 1.5rem !important;
        // }
      }
    }
  }
}
</style>
