<script>
import Close from '../components/Close.vue'

export default {
  name: 'Qr',
  components: { Close },
  layout: 'qrlayout',

  data() {
    return {
      result: this.$t('qrResultText'),
      error: '',
      camera: 'auto',
      isValid: undefined,
      allowedHosts: [
        'kulturvadisi.com',
        'www.kulturvadisi.com',
        'beyondthewalls.com',
        'www.beyondthewalls.com',
        'zb-kultur-rotasi.vercel.app',
      ],
      qrDomain: 'zeytinburnu.bel.tr',
    }
  },

  computed: {
    validationPending() {
      return this.isValid === undefined && this.camera === 'off'
    },

    validationSuccess() {
      return this.isValid === true
    },

    validationFailure() {
      return this.isValid === false
    },
  },

  methods: {
    onInit(promise) {
      promise.catch(console.error).then(this.resetValidationState)
    },

    onDecode(result) {
      this.result = this.$t('scanningQR')
      this.turnCameraOff()
      try {
        const url = new URL(result)
        this.isValid = true
        // this.result = url.hostname
        if (this.allowedHosts.includes(url.hostname)) {
          this.$router.push(url.pathname)
        } else {
          // this.result = url
          if (result.includes(this.qrDomain)) {
            location.replace(url)
          } else {
            this.result = this.$t('invalidQR')
          }
        }
        // this.result = this.allowedHosts.includes(url.hostname)
      } catch (e) {
        this.result = this.$t('invalidQR')
        this.isValid = false
      }
      this.turnCameraOn()
    },

    turnCameraOn() {
      this.camera = 'auto'
    },

    turnCameraOff() {
      this.camera = 'off'
    },

    resetValidationState() {
      this.isValid = undefined
    },
  },
}
</script>
<template>
  <div class="qr">
    <div class="qr-header">
      <label for="picker" class="qr-select-img">
        <img src="~/assets/icons/photo.svg" alt="" />
        <qrcode-capture
          id="picker"
          type="file"
          :multiple="false"
          :capture="false"
          @decode="onDecode"
          @init="onInit"
        />
      </label>
      <div class="qr-close">
        <Close />
      </div>
    </div>
    <div class="qr-content">
      <div class="qr-content__title">{{ $t('scanQr') }}</div>
      <p class="qr-content__text">
        {{ result }}
      </p>
    </div>
    <div class="qr-scan"></div>
    <div class="qr-scan-border"></div>
    <div class="qr-scan-border qr-scan-border--tr"></div>
    <div class="qr-scan-border qr-scan-border--bl"></div>
    <div class="qr-scan-border qr-scan-border--br"></div>

    <qrcode-stream
      :camera="camera"
      @decode="onDecode"
      @init="onInit"
    ></qrcode-stream>
  </div>
</template>
<style lang="scss" scoped>
.qr {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(black, 0.3);
  z-index: 300;
  &-header {
    position: fixed;
    top: 4rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: calc(100vw - 4rem);
    z-index: 500;
  }
  &-content {
    width: 250px;
    margin: auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, calc(50vh - 280px));
    z-index: 2;
    position: fixed;
    left: 50%;
    z-index: 500;

    &__title {
      font-size: 2.7rem;
      font-weight: bold;
      letter-spacing: -0.7px;
      font-family: 'Lora', serif;
      color: #fff;
    }
    &__text {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Lora', Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #fff;
      margin-top: 2.5rem;
      font-size: 1.6rem;
    }
  }
  &-select-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: rgba(#fff, 0.1) !important;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.15s;
    flex-shrink: 0;
    input {
      position: absolute;
      z-index: -9999;
      visibility: hidden;
    }

    img {
      height: 2.7rem;
      filter: brightness(0) invert(1);
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &-close {
    margin-left: auto;
    &::v-deep .close-btn {
      display: flex;
      width: 6rem;
      height: 6rem;
      background: rgba(#fff, 0.1) !important;
      border-radius: 0.8rem;
      img {
        height: 2rem;
        filter: brightness(0) invert(1);
        opacity: 1;
      }
    }
  }
  &-scan {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.48);
    border-width: calc((100vh - 150px) / 2) calc((100vw - 250px) / 2)
      calc((100vh - 350px) / 2) calc((100vw - 250px) / 2);
    box-sizing: border-box;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 400;
    &-border {
      position: absolute;
      top: calc((100vh - 180px) / 2);
      left: calc((100vw - 280px) / 2);
      width: 30px;
      height: 30px;
      border-radius: 4px;
      border: 4px solid transparent;
      border-left-color: #fff;
      border-top-color: #fff;
      position: absolute;
      z-index: 500;
      &--tr {
        top: calc((100vh - 180px) / 2);
        left: unset;
        right: calc((100vw - 280px) / 2);
        border-color: transparent;
        border-right-color: #fff;
        border-top-color: #fff;
      }
      &--bl {
        top: unset;
        bottom: calc((100vh - 376px) / 2);
        left: calc((100vw - 280px) / 2);
        border-color: transparent;
        border-left-color: #fff;
        border-bottom-color: #fff;
      }
      &--br {
        top: calc((100vh + 318px) / 2);
        left: unset;
        right: calc((100vw - 280px) / 2);
        border-color: transparent;
        border-right-color: #fff;
        border-bottom-color: #fff;
      }
    }
  }
}
</style>
