<script>
export default {
  name: 'History',
  layout: 'detail',

  async asyncData({ app }) {
    const locale = app.i18n.locale
    let loc = locale === 'tr' ? '' : locale + '/'
    const locationPath = `https://www.kulturvadisi.com/${loc}zeytinburnu-tarihi`
    return { locationPath }
  },

  head() {
    const title = `${this.$t('historyPage.title')} - ${this.$t('mainTitle')}`
    return {
      title: title,
      meta: [
        {
          name: 'title',
          content: title,
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$t('historyPage.description'),
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: '/images/cover.jpg',
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: this.locationPath,
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'list',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this.$t('historyPage.title')} - ${this.$t('mainTitle')}`,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.$t('historyPage.description'),
        },
      ],
    }
  },

  mounted() {
    let obj = document.querySelector('.history-content__summary')
    obj.scrollTo({ top: 300, behavior: 'smooth' })
  },
}
</script>

<template>
  <div class="history nice-scroll">
    <section class="history-content">
      <h1 class="history-content-title">
        <img
          class="history-content-title__img"
          src="~/assets/images/history-icon.svg"
          alt=""
        />
        {{ $t('historyPage.title') }}
      </h1>
      <p class="history-content__summary">
        {{ $t('historyPage.description') }}
      </p>
      <div class="history-content-info">
        <div class="history-content-info-item">
          <div class="history-content-info-item__title">
            {{ $t('historyPage.beingProvince') }}
          </div>
          <div class="history-content-info-item-content">
            <span class="history-content-info-item-content__icon">
              <img src="~/assets/icons/icon_ilce.svg" />
            </span>
            <span class="history-content-info-item-content__text"> 1957 </span>
          </div>
        </div>
        <div class="history-content-info-item">
          <div class="history-content-info-item__title">
            {{ $t('historyPage.area') }}
          </div>
          <div class="history-content-info-item-content">
            <span class="history-content-info-item-content__icon">
              <img src="~/assets/icons/icon_yuz_olcum.svg" />
            </span>
            <span class="history-content-info-item-content__text">
              11.16 km²
            </span>
          </div>
        </div>
        <div class="history-content-info-item">
          <div class="history-content-info-item__title">
            {{ $t('historyPage.population') }}
          </div>
          <div class="history-content-info-item-content">
            <span class="history-content-info-item-content__icon">
              <img src="~/assets/icons/icon_nufus.svg" />
            </span>
            <span class="history-content-info-item-content__text">
              283.657
            </span>
          </div>
        </div>
      </div>
      <article class="history-content-article nice-scroll">
        <h2 class="history-content-article__title">
          {{ $t('historyPage.article.title') }}
        </h2>
        <p class="history-content-article__paragraph">
          {{ $t('historyPage.article.text') }}
        </p>
      </article>
    </section>

    <section class="history-timeline-wrapper nice-scroll">
      <div class="history-timeline">
        <div class="history-timeline-event">
          <h3 class="history-timeline-event__title">
            {{ $t('historyPage.timeline.event1.title') }}
          </h3>
          <picture class="history-timeline-event__picture">
            <img src="~/static/images/zeytinburnu_tarihi_1.jpg" />
          </picture>
          <p class="history-timeline-event__paragraph">
            {{ $t('historyPage.timeline.event1.text') }}
          </p>
        </div>
        <div class="history-timeline-event">
          <h3 class="history-timeline-event__title">
            {{ $t('historyPage.timeline.event2.title') }}
          </h3>
          <picture class="history-timeline-event__picture">
            <img src="~/static/images/zeytinburnu_tarihi_2.jpg" />
          </picture>
          <p class="history-timeline-event__paragraph">
            {{ $t('historyPage.timeline.event2.text') }}
          </p>
        </div>
        <div class="history-timeline-event">
          <h3 class="history-timeline-event__title">
            {{ $t('historyPage.timeline.event3.title') }}
          </h3>
          <picture class="history-timeline-event__picture">
            <img src="~/static/images/zeytinburnu_tarihi_3.jpg" />
          </picture>
          <p class="history-timeline-event__paragraph">
            {{ $t('historyPage.timeline.event3.text') }}
          </p>
        </div>
        <div class="history-timeline-event">
          <h3 class="history-timeline-event__title">
            {{ $t('historyPage.timeline.event4.title') }}
          </h3>
          <picture class="history-timeline-event__picture">
            <img src="~/static/images/zeytinburnu_tarihi_4.jpg" />
          </picture>
          <p class="history-timeline-event__paragraph">
            {{ $t('historyPage.timeline.event4.text') }}
          </p>
        </div>

        <div class="history-timeline-event">
          <h3 class="history-timeline-event__title">
            {{ $t('historyPage.timeline.event5.title') }}
          </h3>
          <picture class="history-timeline-event__picture">
            <img src="~/static/images/zeytinburnu_tarihi_5.jpg" />
          </picture>
          <p class="history-timeline-event__paragraph">
            {{ $t('historyPage.timeline.event5.text') }}
          </p>
        </div>
        <div class="history-timeline-event">
          <h3 class="history-timeline-event__title">
            {{ $t('historyPage.timeline.event6.title') }}
          </h3>
          <picture class="history-timeline-event__picture">
            <img src="~/static/images/zeytinburnu_tarihi_6.jpg" />
          </picture>
          <p class="history-timeline-event__paragraph">
            {{ $t('historyPage.timeline.event6.text') }}
          </p>
        </div>
        <div class="history-timeline-event">
          <h3 class="history-timeline-event__title">
            {{ $t('historyPage.timeline.event7.title') }}
          </h3>
          <picture class="history-timeline-event__picture">
            <img src="~/static/images/zeytinburnu_tarihi_7.jpg" />
          </picture>
          <p class="history-timeline-event__paragraph">
            {{ $t('historyPage.timeline.event7.text') }}
          </p>
        </div>
        <div class="history-timeline-event">
          <h3 class="history-timeline-event__title">
            {{ $t('historyPage.timeline.event8.title') }}
          </h3>
          <picture class="history-timeline-event__picture">
            <img src="~/static/images/zeytinburnu_tarihi_8.jpg" />
          </picture>
          <p class="history-timeline-event__paragraph">
            {{ $t('historyPage.timeline.event8.text') }}
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/variables';

.history {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 20rem;
  @media screen and (max-width: 1780px) {
    padding-left: 10rem;
  }
  @media screen and (max-width: 1660px) {
    padding-left: 2rem;
  }
  @include bp(laptop-s) {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    overflow-y: auto;
    max-height: calc(100vh);
    width: calc(100% - 2rem);
  }

  @include bp(tablet) {
    max-height: unset;
    width: 100%;
    padding-top: 3rem;
    overflow: visible;
  }
  @include bp(tablet-small-under) {
    padding-top: 0;
  }

  &-content,
  &-timeline {
    @include bp(laptop-s) {
      width: 100% !important;
      max-width: 720px !important;
      flex-shrink: 0;
      max-height: unset !important;
      height: unset !important;
      margin-top: 0;
    }

    @media screen and (max-width: 820px) {
      max-width: 540px !important;
    }
    @media screen and (max-width: 660px) {
      max-width: 100% !important;
    }
  }

  &-content {
    height: calc(100vh);
    max-height: calc(100vh);
    padding-bottom: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5rem;
    overflow-y: auto;
    width: 61rem;

    @include bp(laptop-s) {
      position: static;
      margin-bottom: 6rem;
    }
    @include bp(tablet) {
      padding-right: 0;
      margin-bottom: 2rem;
    }
    &-title {
      font-size: 3.8rem;
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      color: $black;
      font-weight: bold;
      font-family: 'Lora', serif;
      margin-top: 15rem;
      text-align: center;
      @include bp(tablet) {
        margin-top: 10rem;
      }
      @include bp(tablet-small-under) {
        flex-direction: column;
        margin-top: 12rem;
      }
      &__img {
        height: 4.3rem;
        margin-right: 3rem;
        @include bp(tablet-small-under) {
          margin-right: 0;
          height: 37px;
        }
      }
    }

    &__summary {
      font-size: 1.7rem;
      line-height: 1.77em;
      color: rgba($black, 0.6);
      margin-bottom: 3rem;
      font-family: 'Lora', serif;
      @media (min-width: 993px) and (max-height: 850px) {
        font-size: 1.6rem;
      }
    }

    &-info {
      background: #fff;
      border-radius: 2.4rem;
      padding: 3rem 3rem;
      display: flex;
      justify-content: space-between;
      width: max-content;
      @media (min-width: 993px) and (max-height: 850px) {
        padding: 2rem 3rem;
      }
      @include bp(laptop-s) {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
      }
      @include bp(desktop) {
        width: 440px;
      }
      @include bp(tablet) {
        width: 480px;
      }
      @media screen and (max-width: 820px) {
        width: 100%;
      }
      @include bp(mobile) {
        flex-direction: column;
      }
      &-item {
        & + & {
          margin-left: 2.5rem;
          padding-left: 2.5rem;
          border-left: 1px solid rgba($gray-light, 0.2);
          @include bp(mobile) {
            margin-left: 0;
            margin-top: 2rem;
            border-left: 0;
            padding-top: 2rem;
            padding-left: 0;
            border-top: 1px solid rgba($gray-light, 0.1);
          }
        }

        &__title {
          font-family: 'Lora', serif;
          color: rgba($black, 0.3);
          font-size: 1.6rem;
          line-height: 1.5rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        &-content {
          display: flex;
          align-items: center;

          &__icon {
            font-size: 2.3rem;
            height: 1em;
            margin-right: 1rem;
            img {
              height: inherit;
            }
          }

          &__text {
            font-family: 'Lora', serif;
            color: $black;
            font-size: 2.3rem;
          }
        }
      }
    }

    &-article {
      margin-top: 4rem;
      overflow-y: auto;
      padding-right: 3rem;
      &__title {
        font-weight: bold;
        font-size: 1.9rem;
        line-height: 1.44em;
        letter-spacing: -0.25px;
        color: rgba($black, 0.8);
        margin-bottom: 3rem;
        @media (min-width: 993px) and (max-height: 850px) {
          font-size: 1.7rem;
          margin-bottom: 2rem;
        }
      }

      &__paragraph {
        font-size: 1.6rem;
        line-height: 1.77em;
        color: rgba($black, 0.7);
        @media (min-width: 993px) and (max-height: 850px) {
          font-size: 1.5rem;
        }
        & + & {
          margin-top: 3rem;
          @media (min-width: 993px) and (max-height: 850px) {
            margin-top: 2rem;
          }
        }
      }
    }

    &-footer {
      flex: 0 0 auto;
    }
  }

  &-timeline {
    padding-left: 4rem;
    //display: grid;
    //grid-template-columns: 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 85rem;
    justify-content: space-between;
    margin-top: 10rem;

    @include bp(desktop-m) {
      width: 71rem;
      padding-left: 2rem;
    }
    @include bp(laptop-s) {
      padding-left: 0;
      width: 720px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }
    @media screen and (max-width: 820px) {
      width: 540px;
    }
    @media screen and (max-width: 660px) {
      width: 100%;
      max-width: 400px;
    }
    &::after {
      width: 1px;
      height: 100%;
      content: '';
      background: rgba($gray, 0.1);
      position: absolute;
      left: calc(50% + 2rem);
      top: 4rem;
      @include bp(desktop-m) {
        left: calc(50% + 1rem);
      }
      @include bp(laptop-s) {
        left: 50%;
        top: 3.4rem;
      }
      @media screen and (max-width: 660px) {
        left: 1rem;
        height: calc(100% - 6rem);
      }
    }
    &::before {
      content: '';
      width: 1rem;
      height: 1rem;
      background: $pink;
      left: calc(50% + 1.5rem);
      position: absolute;
      bottom: -4rem;
      transform: rotate(45deg);
      z-index: 2;
      @include bp(desktop-m) {
        left: calc(50% + 0.5rem);
      }
      @include bp(laptop-s) {
        left: calc(50% - 0.5rem);
      }
      @media screen and (max-width: 660px) {
        left: 0.5rem;
        bottom: 2rem;
      }
    }
    &-wrapper {
      padding-bottom: 5rem;
      height: calc(100% - 11rem);
      max-height: calc(100vh);
      overflow-y: auto;
      width: calc(100% - 63.5rem);
      &.nice-scroll {
        &::-webkit-scrollbar-track {
          margin-top: 12rem !important;
        }
      }
      @include bp(laptop-s) {
        overflow: visible;
        max-height: unset;
        width: 100%;
      }
    }
    &-event {
      // flex-basis: 45%;
      padding-top: 2rem;
      width: 35rem;
      transform: translateY(13rem);
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
        .history-timeline__picture {
          filter: grayscale(0);
        }
      }

      &:nth-child(8) {
        .history-timeline-event__picture {
          filter: grayscale(0) !important;
        }
      }
      @include bp(desktop-m) {
        width: 30rem;
      }
      @include bp(laptop-s) {
        width: 28rem;
      }
      @include bp(laptop-s) {
        width: 320px;
      }
      @media screen and (max-width: 820px) {
        width: 230px;
      }
      @media screen and (max-width: 660px) {
        width: 320px;
        margin-left: 5.5rem;
        transform: none;
      }
      @include bp(mobile-small) {
        width: calc(100vw - 10rem);
      }
      &:first-child {
        transform: none;
      }

      &:last-child {
        margin-top: 7rem;
        padding-bottom: 5rem;

        & .history-timeline-event__picture {
          filter: grayscale(0);
        }
        @media screen and (max-width: 660px) {
          padding-bottom: 0;
          margin-top: 0rem;
        }
      }

      &:nth-child(6) {
        .history-timeline-event__picture {
          filter: grayscale(0);
        }
      }
      @media screen and (min-width: 661px) {
        &:nth-child(odd) {
          text-align: right;
          //background: red;
          transform: none;
          //margin-bottom: 0;

          .history-timeline {
            &-event {
              &__title {
                &::after {
                  right: -6rem;
                  left: unset;
                  @include bp(desktop-m) {
                    right: -5rem;
                  }
                }

                &::before {
                  left: unset;
                  right: -6rem;
                  @include bp(desktop-m) {
                    right: -5rem;
                  }
                }
              }

              &:last-child {
                .history-timeline__picture {
                  filter: grayscale(0);
                }
              }
            }
          }
        }
      }

      &__title {
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.44em;
        letter-spacing: -0.25px;
        color: $brown;
        margin-bottom: 4rem;
        position: relative;

        &::after {
          content: '';
          width: 5rem;
          background: $pink;
          left: -6rem;
          position: absolute;
          top: 2rem;
          height: 1px;
          z-index: 2;
          @include bp(desktop-m) {
            left: -5rem;
            width: 4rem;
          }
        }

        &::before {
          content: '';
          width: 1rem;
          height: 1rem;
          background: $pink;
          left: -6rem;
          position: absolute;
          top: 1.6rem;
          transform: rotate(45deg);
          z-index: 2;
          @include bp(desktop-m) {
            left: -5rem;
          }
        }
      }

      &__paragraph {
        font-size: 1.6rem;
        line-height: 1.75em;
        color: rgba($brown, 0.75);
        margin-top: 4.5rem;
      }

      &__picture {
        height: 35rem;
        width: 35rem;
        overflow: hidden;
        filter: grayscale(1);
        @include bp(desktop-m) {
          width: 30rem;
          height: 30rem;
        }
        @include bp(laptop) {
          width: 28rem;
          height: 28rem;
        }
        @include bp(laptop-s) {
          width: 320px;
          height: 320px;
        }
        @media screen and (max-width: 820px) {
          width: 230px;
          height: 230px;
        }
        @media screen and (max-width: 660px) {
          width: 320px;
          height: 320px;
        }
        @include bp(mobile-small) {
          width: calc(100vw - 10rem);
          height: calc(100vw - 10rem);
        }
        img {
          height: inherit;
          width: inherit;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
</style>
